@mixin font-family {
    font-family: Barlow-Bold;
}

@mixin max-width {
    max-width: 1140px;
}

// block-3
@mixin block-3-box-shadow {
    box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
}

// slick
@mixin slick-next-transform ($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -o-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
}

//header
@mixin main-header-bar-bg {
    background: linear-gradient(80deg, $main-bar-gradient1 40%, $main-bar-gradient2 100%);
}

// sidebar
@mixin sidebar-box-shadow {
    box-shadow: 0px 3px 6px #0000000f;
}

@mixin sidebar-boder {
    border: 1px solid #0000001a;
}

@mixin sidebar-bg-color-gradient {
    background: transparent linear-gradient(270deg, $bg-color-gradient1 0%, $bg-color-gradient2 100%) 0% 0% no-repeat padding-box;
}

//footer
@mixin choose-after-transform($deg) {
    -webkit-transform: skewY($deg);
    -moz-transform: skewY($deg);
    -ms-transform: skewY($deg);
    -o-transform: skewY($deg);
    transform: skewY($deg);
}

@mixin choose-before-transform($deg) {
    -webkit-transform: skewY($deg);
    -moz-transform: skewY($deg);
    -ms-transform: skewY($deg);
    -o-transform: skewY($deg);
    transform: skewY($deg);
}

@mixin footer-box-shadow {
    box-shadow: 3px 0px 8px #00000022;
}

//small-footer.sigupnow
@mixin small-footer-sigupnow-after($deg) {
    -webkit-transform: skewY($deg);
    -moz-transform: skewY($deg);
    -ms-transform: skewY($deg);
    -o-transform: skewY($deg);
    transform: skewY($deg);
}