$color-f4:#f4f4f4;
$color-00:#000;
$color-ff:#fff;
// price
$color-price-del:#fff;
$color-price-ins:#74fff6;
// color-block-3
$block3-bgcolor-after:rgb(249, 221, 155);
$block3-bgcolor-before:rgb(249, 221, 155);
$block3-child2-before:rgb(247, 178, 238);
$block3-child2-after:rgb(247, 178, 238);
$block3-child3-after:rgb(186, 249, 155);
$block3-child3-before:rgb(186, 249, 155);
$block3-p:#757575;
// color-button-link
$btn-link-color-gradient1:#54c1ba;
$btn-link-color-gradient2:rgba(19, 139, 255, 1);
// color-flex
$direction-nav-a:#ccc;
// color-search
$seach-bgcolor: rgba(255, 255, 255, 0.9);
// slide-home 
$slidehome-bg-gradient1:#54c1ba;
$slidehome-bg-gradient2:rgba(67, 90, 112, 0.3);
// slick list
$btn-hover-bg-gradient1:#54c1ba;
$btn-hover-bg-gradient2:rgba(19, 139, 255, 1);
// slick dot
$li-bg-color:#d1d1d1;
// slick active
$active-bg-gradient1:#148bfb;
$active-bg-gradient2:#54c1ba;
//slide facewp
$color-slider-label: #fb145b;
//uagb-section__inner-wrap
$title-after-bg-gradient1:#148bfb;
$title-after-bg-gradient2:#54c1ba;
// widget
$color-h2-widget:#fff;
//header
$main-bar-gradient1:#54c1ba;
$main-bar-gradient2:rgba(19, 139, 255, 1);
//header-main-layout-1
$img-after-gradient1:#54c1ba;
$img-after-gradient2:rgba(19, 139, 255, 0.3);
//sidebar
$bg-color-gradient1:#148bfb;
$bg-color-gradient2:rgba(19, 139, 255, 1);
$noUi-handle-lower-bg:#53c0bb;
$noUi-handle-uper-bg:#148bfb;
//footer
$choose-bg-gradient1:#148bfb;
$choose-bg-gradient2:#54c1ba;
$choose-title-after-gradient1 :#148bfb;
$choose-title-after-gradient2 :#54c1ba;
//footer>signup
$title-after-gradient1:#fb145b;
$title-after-gradient2:#fd4e5b;

//small-footer.sigupnow
$sigupnow-after-gradient1:#148bfb;
$sigupnow-after-gradient2:#54c1ba;

$color-bggreen:#54c1ba12;
$first-color-gradient:#54c1ba;
$second-color-gradient:rgba(19, 139, 255, 1);
$color-blue-dark:rgba(23, 59, 94, 0.3);
$font-bold: bold;
$display-none: none;