.about-us {
  .wp-block-media-text__media {
    img {
      width: 50px;
    }
  }

  h5 {
    line-height: 1.2;
    text-transform: uppercase;
    font-family: Barlow-Bold;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    margin-top: 20px;
  }

  p {
    line-height: 1.6;
    font-size: 18px;
  }

  .fullwidth {
    width: 100%;
    background-color: #f2f2f2;
  }

  .home-h5 {
    font-size: 18px;
    line-height: 0.8;
    color: $first-color-gradient;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 22px;
  }

  .home-h2 {
    font-family: Barlow-Bold;
    font-weight: bold;
    font-size: 2.9em;
  }

  .has-large-font-size {
    margin-left: 40px;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.about-us.fullwidth {
  .uagb-columns__inner-wrap.uagb-columns__columns-2 {
    width: 100%;
    max-width: 100%;
  }
}

.about-sesion {
  color: $color-ff;
  padding: 30px 0;
  background-attachment: fixed !important;

  .uppercase {
    text-transform: uppercase;
  }

  &:after {
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    content: "";
    height: 100%;
    background: linear-gradient(80deg, $first-color-gradient 0%, rgba(19, 139, 255, 0.3) 40%);
  }

  .wp-block-media-text__content {
    p {
      margin-bottom: 10px;
    }
  }

  .wp-block-media-text__media {
    background-color: $first-color-gradient;
    border-radius: 50%;
    line-height: 80px;
    width: 80px;
    text-align: center;

    img {
      width: 40px;
    }
  }

  h2 {
    font-size: 36px;
    line-height: 40px;
    color: $color-ff;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  }

  .wp-block-media-text {
    padding: 2rem 0;
  }
}

.wp-block-uagb-section.about-sesion {
  padding: 3rem 0;
}

.about-feature-image {
  position: relative;

  &:after {
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    content: "";
    height: 100%;
    background: linear-gradient(80deg, $first-color-gradient 0%, rgba(19, 139, 255, 0.3) 40%);
  }

  figcaption {
    left: 50%;
    transform: translate(-50%, 50%);
    position: absolute;
    bottom: 1rem;
    text-align: center;
    display: block;
    width: 30%;
    color: $color-ff;
    z-index: 10;
    font-size: 3.5em;

    &:before {
      left: 10%;
      top: 10px;
      bottom: 0;
      width: 70px;
      position: absolute;
      content: "";
      height: 1px;
      border-top: 2px dotted $color-ff;
      margin: auto;
    }

    &:after {
      right: 10%;
      top: 10px;
      bottom: 0;
      width: 70px;
      position: absolute;
      content: "";
      height: 1px;
      border-top: 2px dotted $color-ff;
      margin: auto;
    }
  }
}

.ab-content {
  p {
    font-size: 18px;
    text-align: justify;
    line-height: 26px;
    font-weight: 300;
    margin: 0 0 22px;
    color: #777;
  }
}