.contact {
  img {
    width: 28px;
  }
  .wp-block-media-text__content {
    padding: 0;
    p {
      margin: 0;
    }
  }
  .wp-block-media-text__media {
    text-align: center;
  }
  .wp-block-media-text {
    margin-bottom: 20px;
  }
}
.default-height {
  img {
    height: 480px;
    width: 100%;
    object-fit: cover;
  }
}
