.single-product {
  div.product {
    .entry-title {
      color: #fff;
    }
  }
}
.journey {
  background: #f7f7f7 0% 0% no-repeat padding-box;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  .icon {
    height: 150px;
    width: 150px;
  }
  h3 {
    font-size: 32px;
    font-family: Barlow-Bold;
    text-transform: uppercase;
  }
  p {
    margin: 0px;
    font-size: 20px;
    color: #0000006f;
    line-height: 30px;
  }
}
