// Component chua cac phan co the tai su dung duoc
.dropbtn {
  display: none;
}

.wp-block-button__link {
  line-height: 30px !important;
  letter-spacing: 1px;
  background: linear-gradient(80deg, $btn-link-color-gradient1 40%, $btn-link-color-gradient2 100%);
  padding: 0 40px;
  border: 0px;
  transition: ease-in 0.2s;
  border-radius: 50px !important;
  font-weight: bold;
}