ul.flex-direction-nav {
  position: absolute;
  top: 30%;
  z-index: 99999;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0px;
  list-style: none;

  li {
    a {
      color: $direction-nav-a;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

li.flex-nav-prev {
  float: left;
}

li.flex-nav-next {
  float: right;
}

a.flex-next {
  visibility: hidden;

  &::after {
    visibility: visible;
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
  }
}

a.flex-prev {
  visibility: hidden;

  &::before {
    visibility: visible;
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
  }
}