.icon {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.icon-departure {
  background-image: url("../icon/plane-24px.svg");
}
.icon-duration {
  background-image: url("../icon/calendar-24.svg");
}
.icon-group-size {
  background-image: url("../icon/multiuser_24.svg");
}
.icon-accomodation {
  background-image: url("../icon/hotel_32.svg");
}
.icon-vehicle {
  background-image: url("../icon/ic_vehicle.png");
}
.icon-departure-blue {
  background-image: url("../icon/plane-blue.svg");
}
.icon-duration-blue {
  background-image: url("../icon/calendar-blue.svg");
}
.icon-group-size-blue {
  background-image: url("../icon/multiuser-blue.svg");
}
.icon-accomodation-blue {
  background-image: url("../icon/hotel-blue.svg");
}
.ic-direct {
  background-image: url("../imgs/direct.svg");
  height: 124px;
  width: 124px;
}
