@media screen and (max-width: 1600px) {
  .ast-sticky-main-shrink.ast-header-break-point {
    .ast-sticky-shrunk {
      .ast-mobile-menu-buttons {
        padding-bottom: 0;
      }
    }
  }

  .product-template-default {
    .ast-container {
      overflow: hidden;
    }

    #primary {
      padding: 0;
      margin: 0;
    }
  }

  #ast-fixed-header {
    .main-header-bar {
      background: linear-gradient(80deg,
          $first-color-gradient 40%,
          $second-color-gradient 100%);
    }
  }

  .main-header-bar {
    padding: 0;
  }

  .woocommerce {
    div.product {
      div.woocommerce-product-gallery--columns-4 {
        .flex-control-thumbs {
          li {
            clear: unset !important;
            width: 14%;

            &:nth-child(4n) {
              margin-right: 1em;
            }
          }
        }
      }

      div.images {
        .flex-control-thumbs {
          left: 0;
          width: 100%;
          padding: 0 15px;
        }
      }
    }
  }

  .absolute {
    width: 100%;
    top: 0;
    transform: none;
    left: 15px;
  }

  .woocommerce-product-details__short-description {
    p {
      margin-bottom: 10px;
    }
  }

  .tour-attributes {
    margin-bottom: 10px;
  }

  .product-container-tab {
    padding: 0 15px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .product-container-tab {
    width: 100%;
    padding: 0 15px;
  }

  .product-template-default {
    .main-header-container {
      width: 100%;
      padding: 0 15px;
    }
  }

  .choose-me {
    .wp-block-columns {
      padding: 0 15px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .woocommerce[class*="columns-"].columns-3 {
    >ul.products {
      li.product {
        width: 48%;
        margin: 10px 5px;
      }
    }
  }

  .product-container-tab {
    width: 100%;
  }

  .product-template-default {
    .main-header-container {
      width: 100%;
    }

    #primary {
      padding-top: 0;
    }

    .ast-container {
      overflow: hidden;
    }
  }

  .woocommerce {
    div.product {
      div.images {
        .flex-control-thumbs {
          li {
            img {
              width: 120px;
              height: 70px;
            }
          }
        }
      }
    }
  }

  .woocommerce-page {
    #content {
      div.product {
        div.summary {
          width: 70%;
        }
      }
    }
  }

  .icon.ic-direct {
    display: none;
  }

  .ast-footer-overlay {
    padding-top: 3em;
    padding-bottom: 2em;
  }

  .sigupnow {
    .widget-title {
      padding-left: 3rem;
      position: relative;
      font-size: 40px;
      margin-bottom: 5px;
      padding-left: 4rem;

      &:before {
        content: "";
        background-image: url("../imgs/direct.svg");
        background-size: cover;
        height: 3rem;
        width: 3rem;
        position: absolute;
        left: 0;
      }
    }

    p {
      text-align: center;
      font-size: 16px;
    }

    .widget_text {
      display: none;
    }

    .widget_custom_html {
      display: block;
      width: 50%;
      padding: 0 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .dropbtn {
    display: inline-block;
  }

  .ast-right-sidebar {
    #secondary {
      overflow-y: scroll;
      height: 100vh;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .single-product {
    div.product {
      .entry-title {
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
      }
    }
  }

  .absolute {
    .price {
      del {
        font-size: 20px;
      }

      ins {
        font-size: 30px;
        font-weight: bold;
      }
    }

    max-width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    transform: unset;
  }

  .ast-header-break-point {
    .site-header {
      border-bottom: 0;
    }
  }

  .slick-list {
    h1 {
      font-size: 2em;
      margin-bottom: 10px;
    }

    .text.dark {
      top: 36%;
    }
  }

  .product-container-tab {
    width: 100%;
    padding: 0 15px;

    .title {
      font-size: 36px;
      padding-bottom: 15px;
    }
  }

  .product-template-default {
    .main-header-container {
      width: 100%;
      padding: 0 15px;
    }
  }

  .single {
    .main-header-bar {
      padding: 0;
    }
  }

  .woocommerce-page {
    #content {
      div.product {
        div.summary {
          width: 100%;
          top: 5rem;
          padding: 0 15px;
          overflow: hidden;
          margin: 0;
        }
      }
    }
  }

  .col-4 {
    width: 50%;
    margin: 15px 0;
  }

  .woocommerce {
    div.product {
      div.images {
        img {
          height: 700px;
        }

        .flex-control-thumbs {
          li {
            img {
              height: 46px;
            }
          }

          bottom: 0;
        }
      }

      div.woocommerce-product-gallery--columns-4 {
        .flex-control-thumbs {
          li {
            width: 20%;
          }
        }
      }
    }

    #content {
      div.product {
        .woocommerce-tabs {
          ul.tabs {
            li {
              display: inline-block;
              margin: 0 10px;
            }
          }
        }
      }
    }
  }

  .tour-attributes {
    margin-bottom: 0;
  }

  .woocommerce-product-details__short-description {
    p {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .sigupnow {
    .ast-footer-widget-1-area {
      display: block;
    }

    .widget_text {
      width: 100%;
    }

    .widget_newsletterwidgetminimal {
      width: 100%;
    }

    .widget-title {
      text-align: center;
      padding-left: 3rem;
      position: relative;
      font-size: 40px;

      &:before {
        content: "";
        background-image: url("../imgs/direct.svg");
        background-size: cover;
        height: 3rem;
        width: 3rem;
        position: absolute;
        left: 0;
      }
    }

    .title {
      text-align: center;

      &::after {
        left: 50%;
        transform: translate(-50%, 50%);
      }
    }

    .tnp-widget-minimal {
      input.tnp-submit {
        position: initial;
        width: 100%;
        margin-top: 15px;
      }
    }

    p {
      text-align: center;
      font-size: 16px;
    }
  }

  .woocommerce[class*="columns-"].columns-3 {
    >ul.products {
      li.product {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  .site-branding {
    img {
      width: 75px;
    }
  }

  .ast-sticky-main-shrink {
    .ast-sticky-shrunk {
      .site-logo-img {
        img {
          width: 75px;
        }
      }
    }
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .entry-content {
    .wp-block-columns {
      .wp-block-column {
        margin: 10px 0;
      }
    }
  }

  .journey {
    padding: 15px;

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 16px;
    }

    .icon {
      height: 68px;
      width: 68px;
    }
  }

  .search {
    .woocommerce-page {
      ul.products.columns-3 {
        li.product {
          width: 100%;
          margin: 10px 0;
        }
      }
    }
  }

  .ast-separate-container {
    #content {
      .ast-container {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .ast-right-sidebar {
    #primary {
      padding: 0;
      margin: 0;
    }

    #secondary {
      width: 80%;
      padding: 0;
      transition: 0.3s ease-in-out;
      position: fixed;
      left: -100%;
      top: 0;
      z-index: 100000;
    }
  }

  .default-height {
    img {
      height: 250px;
      object-fit: cover;
    }
  }

  .about-feature-image {
    img {
      height: 250px;
      object-fit: cover;
    }

    figcaption {
      width: 100%;
      font-size: 2.5em;
    }
  }

  .show {
    #secondary.widget-area.secondary {
      left: 0;
      background: $color-ff;
    }
  }

  .site-footer {
    .choose-me {
      &:after {
        -webkit-transform: skewY(-7deg);
        -moz-transform: skewY(-7deg);
        -ms-transform: skewY(-7deg);
        -o-transform: skewY(-7deg);
        transform: skewY(-7deg);
      }

      &:before {
        -webkit-transform: skewY(7deg);
        -moz-transform: skewY(7deg);
        -ms-transform: skewY(7deg);
        -o-transform: skewY(7deg);
        transform: skewY(7deg);
      }
    }
  }

  .ast-small-footer.sigupnow {
    &:after {
      -webkit-transform: skewY(-7deg);
      -moz-transform: skewY(-7deg);
      -ms-transform: skewY(-7deg);
      -o-transform: skewY(-7deg);
      transform: skewY(-7deg);
    }
  }

  .choose-me {
    .wp-block-column {
      padding: 0 15px;
    }
  }

  .icon.ic-direct {
    display: none;
  }

  .ast-footer-overlay {
    padding-top: 3em;
    padding-bottom: 2em;
  }
}