.astra-search-icon {
  opacity: 0.6;
  transition: all ease-in-out 0.1s;

  &::before {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    background: url(../icon/ic_search.svg) no-repeat;
    background-size: contain;
  }
  &:hover,
  &:after {
    opacity: 1;
  }
}
.ast-dropdown-active {
  .astra-search-icon {
    &::before {
      background: url(../icon/ic_search_dark.svg) no-repeat;
      background-size: contain;
    }
  }
}
.main-header-bar .ast-search-menu-icon .search-form {
  border-radius: 0.25rem;
}
.ast-search-menu-icon.ast-dropdown-active .search-field {
  width: 40vw;
  padding: 0.75rem 1rem;
  background: rgba(255, 255, 255, 0.9);
}
