.slidehome {
  .eedee-background-div {
    &::before {
      left: 0;
      top: 0;
      width: 100%;
      position: absolute;
      content: "";
      height: 100%;
      background: linear-gradient(80deg,
          $slidehome-bg-gradient1 0%,
          $slidehome-bg-gradient2 40%);
    }
  }
}

.slick-list {
  .text.dark {
    color: #fff;
    position: absolute;
    left: 18%;
    top: 30%;
  }

  h1 {
    color: #fff !important;
    font-size: 3.5em;
    font-family: Barlow-Bold;
  }

  .thin-font {
    font-family: Barlow-Regular;
  }

  .button {
    background: unset;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 1.1em;
    display: inline-block;
    margin-top: 20px;

    &:hover {
      background: linear-gradient(80deg,
          $btn-hover-bg-gradient1 40%,
          $btn-hover-bg-gradient2 100%);
    }
  }
}

.team-slide {
  .uagb-team__content {
    .uagb-team__image-crop-circle {
      width: auto !important;
    }
  }

  .slick-dots {
    li {
      width: 40px;
      height: 6px;
      border-radius: 3px;
      background-color: $li-bg-color;
      display: inline-block;
      margin: 0 10px;

      button {
        &::before {
          content: unset !important;
          display: none;
        }
      }
    }

    li.slick-active {
      background: transparent linear-gradient(270deg, #148bfb 0%, $first-color-gradient 100%) 0% 0% no-repeat padding-box;
    }
  }

  .slick-next {
    &:before {
      content: url("../imgs/ic_arr_long.png") !important;
      display: inline-block;
      @include slick-next-transform(180deg);
    }
  }

  .slick-prev {
    &:before {
      content: url("../imgs/ic_arr_long.png") !important;
    }
  }

  .slick-arrow.slick-prev {
    left: 10rem;
  }

  .slick-arrow.slick-next {
    right: 10rem;
  }

  .uagb-team__desc {
    display: inline-block;
    position: relative;
    padding: 0 30px;

    &:before {
      content: url("../imgs/ic_format_quote.svg");
      position: absolute;
      left: 0;
      top: -10px;
    }

    &:after {
      content: url("../imgs/ic_format_quote.svg");
      position: absolute;
      right: 0;
      bottom: -10px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}

.facetwp-type-slider {
  .facetwp-slider-label {
    color: $color-slider-label;
  }
}