.uagb-section__inner-wrap {
  .title {
    text-align: center;
    @include font-family;
    font-size: 48px;
    position: relative;
    margin-bottom: 4rem;

    &:after {
      content: "";
      position: absolute;
      background: transparent linear-gradient(270deg, $title-after-bg-gradient1 0%, $title-after-bg-gradient2 100%) 0% 0% no-repeat padding-box;
      height: 4px;
      width: 100px;
      bottom: -1rem;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  @include max-width;
}

.uagb-columns__wrap {
  .uagb-columns__inner-wrap {
    @include max-width;
  }
}