/**
Theme Name: Astra Child Landing
Domain Path: /languages

Template: astra

/* Note: The CSS files are loaded from assets/css/ folder. */


@font-face {
  font-family: Barlow-Regular;
  src: url("./fonts/Barlow-Regular.ttf");
}
@font-face {
  font-family: Barlow-Bold;
  src: url("./fonts/Barlow-Bold.ttf");
}
@font-face {
  font-family: Semi-Bold;
  src: url("./fonts/Barlow-SemiBold.ttf");
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  color:#777;
}
.bold-font {
  font-family: Barlow-Bold;
}
.semi-font {
  font-family: Semi-Bold;
}
.thin-font {
  font-family: Barlow-Regular;
}
#masthead  .site-logo-img .custom-logo-link img{
  width: 140px;
}
.ast-single-post .entry-title{
  text-align:center;
  color: #166986;
  font-family: Barlow-Bold;
  font-weight: bold;
}
.ast-single-post p{
  margin-bottom: 10px;
  font-size: 16px;
}
h2.insurance-color {
  color: #166986;
  font-weight: bold;
}
.wp-block-buttons{
  text-align: center;
}

/* Header */
.ast-theme-transparent-header .main-header-bar{
  padding: 10px 0;
}

#ast-fixed-header .main-header-bar{
  background: linear-gradient(80deg, #54c1ba 40%, rgba(19,139,255,1) 100%);
}
#ast-fixed-header .main-header-menu a{
  color: rgba(255, 255, 255, 0.65) ;
}
.wp-block-buttons .custombtn a{
  background-color: #166986;
  font-size: 1.8em;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-header-menu a{
  color: rgba(22,105,134,.65);
  font-weight: bold;
  font-size: 1.2em;
}

.main-header-menu  .current-menu-item a{
  color: #166986;
}

/* End header */

/* App Page  */
.wp-block-eedee-block-gutenslider .eedee-background-div>img{
  object-fit: contain !important;
}
.wp-block-image {
  margin-bottom: 20px;
  overflow: hidden;
}

.khac-biet h2{
    text-align: center;
    letter-spacing: 1px;
    font-size: 24px;
}
.khac-biet p{
  font-size: 1.15em;
  margin-bottom: 10px;
}

.app-middle-header h2 {
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: 200;
  color: #212529;
  line-height: unset;
}

.app-middle-header p {
  color: #6c757d;
  font-size: 18px;
  line-height: 1.5;
}
.banner h2.has-medium-font-size{
  color: #fff;
  font-size: 3.5em;
}
.banner .uagb-column__inner-wrap .wp-block-columns{
 margin-bottom: 10px;
}

.banner .wp-block-image{
  margin-bottom: 0;
}
.banner .uagb-section__overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: -1px;
  right: -1px;
  background-color: rgba(0,0,0,.5);
  transition: transform .3s, opacity .6s;
  pointer-events: none;
  opacity: unset;
}
.banner p{
  color: #fff;
}

/* End App Page */






/* About page  */
.about-sesion {
  color: #fff;
  padding: 30px 0;
  background-attachment: fixed !important;
}
.about-sesion .uppercase {
  text-transform: uppercase;
}
.wp-block-uagb-section.about-sesion {
  padding: 3rem 0;
}
.about-sesion:after {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  content: "";
  height: 100%;
  background: linear-gradient(80deg, #54c1ba 0%, rgba(19, 139, 255, 0.3) 40%);
}

.about-sesion .wp-block-media-text__content p {
  margin-bottom: 10px;
}
.about-sesion .wp-block-media-text__media {
  background-color: #54c1ba;
  border-radius: 50%;
  line-height: 80px;
  width: 80px;
  text-align: center;
}
.about-sesion .wp-block-media-text__media img {
  width: 40px;
}
.about-sesion h2 {
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.about-sesion .wp-block-media-text {
  padding: 2rem 0;
}
.about-feature-image {
  position: relative;
}
.about-feature-image:after {
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  content: "";
  height: 100%;
  background: linear-gradient(80deg, #54c1ba 0%, rgba(19, 139, 255, 0.3) 40%);
}
.about-feature-image figcaption {
  left: 50%;
  transform: translate(-50%, 50%);
  position: absolute;
  bottom: 1rem;
  text-align: center;
  display: block;
  width: 30%;
  color: #fff;
  z-index: 10;
  font-size: 3.5em;
}

.about-feature-image figcaption:before {
  left: 10%;
  top: 10px;
  bottom: 0;
  width: 70px;
  position: absolute;
  content: "";
  height: 1px;
  border-top: 2px dotted #fff;
  margin: auto;
}

.about-feature-image figcaption:after {
  right: 10%;
  top: 10px;
  bottom: 0;
  width: 70px;
  position: absolute;
  content: "";
  height: 1px;
  border-top: 2px dotted #fff;
  margin: auto;
}

.ab-content p {
  font-size: 18px;
  text-align: justify;
  line-height: 26px;
  font-weight: 300;
  margin: 0 0 22px;
  color: #777;
}

.page-breadcrumbs {
  text-align: center;
  font-size: 18px;
}

/* end about page  */


/* 
Contact Page */
.default-height img {
  height: 480px;
  width: 100%;
  object-fit: cover;
}
.contact img {
  width: 28px;
}
.contact .wp-block-media-text__content {
  padding: 0;
}
.contact .wp-block-media-text__content p {
  margin: 0;
}

.contact .wp-block-media-text__media {
  text-align: center;
}
.contact .wp-block-media-text {
  margin-bottom: 20px;
}
/* End Contact Page */