.tour-attributes {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  margin-bottom: 30px;

  li {
    display: inline-flex;
    line-height: 2rem;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.astra-shop-summary-wrap {
  .tour-attributes {
    li {
      width: 50%;
      float: left;
      margin: 5px 0;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}