.product-template-default {
  .ast-container {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .site-header {
    position: absolute;
    width: 100%;
  }

  #primary {
    margin: 0;
  }

  .main-header-container {
    width: 1200px;
    margin: 0 auto;
    clear: both;
  }
}

.woocommerce {
  #content {
    .ast-woocommerce-container {
      div.product {
        div.images {
          width: 100%;
        }
      }
    }
  }

  .ast-woocommerce-container {
    div.product {
      div.images {
        width: 100%;
      }
    }
  }

  div.product {
    div.images.woocommerce-product-gallery {
      .flex-viewport {
        position: relative;
      }
    }

    div.images {
      .flex-control-thumbs {
        position: absolute;
        bottom: 3em;
        right: 3rem;
        overflow: unset;

        li {
          img {
            width: 140px;
            height: 90px;
            object-fit: cover;
            border-radius: 12px;
            border: 1px solid $color-ff;
            box-shadow: 0px 3px 6px #00000029;
            opacity: 1;
            transition: transform 0.2s;

            &:hover {
              transform: scale(1.1);
            }
          }

          img.flex-active {
            transform: scale(1.1);
          }
        }
      }

      img {
        height: 800px;
        object-fit: cover;
      }
    }

    form.cart {
      .button.single_add_to_cart_button {
        border: 2px solid $color-ff;
        border-radius: 30px;
        background-color: transparent;
      }
    }

    .woocommerce-tabs {
      ul.tabs {
        text-align: center;
        border-top: unset;

        li.active {
          &::before {
            content: unset;
          }
        }
      }
    }

    span.onsale {
      position: absolute;
      top: 8rem;
      left: 40%;
    }
  }

  .woocommerce-breadcrumb {
    a {
      color: $color-ff;
    }

    color: $color-ff;
  }

  .button.single_add_to_cart_button {
    &:after {
      content: url("../icon/ic_arrow.svg");
      transition: transform 0.2s;
      margin-left: 10px;
    }
  }

  ul.products {
    li.product {
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0px 3px 6px #0000000f;
      background-color: $color-ff;

      a {
        img {
          height: 250px;
          object-fit: cover;
        }
      }

      .astra-shop-summary-wrap {
        padding: 1.2rem !important;
      }

      .price {
        del {
          font-family: Semi-Bold;
          font-size: 20px;
          color: #9d9d9d;
        }

        ins {
          font-family: Semi-Bold;
          font-size: 30px;
          color: #fd5669;
        }
      }

      .button {
        background: transparent linear-gradient(270deg, #148bfb 0%, $first-color-gradient 100%) 0% 0% no-repeat padding-box;
        border-radius: 31px;
        display: block;
        text-align: center;
      }

      .onsale {
        border-radius: unset;
        background-image: url(../icon/sale-label.svg);
        right: 2rem;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 3rem;
        min-height: 3rem;
        line-height: 4rem;
        background-color: transparent;
        font-weight: bold;
        font-size: 16px;
      }

      .ast-woo-product-category {
        display: none;
      }
    }

    li.product.box-shadow-0.box-shadow-0-hover {
      border: 1px solid transparent;

      &:hover {
        border-color: #53c0bb;
      }
    }
  }

  .star-rating {
    &::before {
      color: #eca500;
    }

    color: #eca500;
  }

  .woocommerce-ordering {
    background-color: #0000000d;
    padding: 0;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    vertical-align: middle;
    padding: 0px 20px;

    .orderby {
      height: 40px;
      border: unset;
      background-color: unset;
    }
  }
}

.woocommerce-page {
  #content {
    .ast-woocommerce-container {
      div.product {
        div.images {
          width: 100%;
        }
      }
    }

    div.product {
      div.summary {
        width: 55%;
        position: absolute;
        float: left;
        top: 10rem;
        color: $color-ff;
      }
    }
  }

  .ast-woocommerce-container {
    div.product {
      div.images {
        width: 100%;
      }
    }
  }

  ul.products {
    li.product {
      border-radius: 20px;
      overflow: hidden;
      background-color: $color-ff;

      .woocommerce-loop-product__title {
        font-family: Semi-Bold;
        font-size: 24px;
        color: $color-00;
        height: 64px;
        overflow: hidden;
      }

      .astra-shop-summary-wrap {
        padding: 1.2rem !important;
      }

      .price {
        del {
          font-family: Semi-Bold;
          font-size: 20px;
          color: #9d9d9d;
        }
      }

      .button {
        background: transparent linear-gradient(270deg, #148bfb 0%, $first-color-gradient 100%) 0% 0% no-repeat padding-box;
        border-radius: 31px;
        display: block;
        text-align: center;
      }

      .onsale {
        border-radius: unset;
        background-image: url(../icon/sale-label.svg);
        right: 2rem;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 3rem;
        min-height: 3rem;
        line-height: 4rem;
        background-color: transparent;
        font-weight: bold;
        font-size: 16px;
      }

      .ast-woo-product-category {
        display: none;
      }
    }
  }
}

.woocommerce-product-gallery__image {
  position: relative;
}

.woocommerce-product-gallery {
  .flex-viewport {
    &:after {
      left: 0;
      top: 0;
      width: 100%;
      position: absolute;
      content: "";
      height: 100%;
      background: linear-gradient(80deg,
          $color-00 0%,
          rgba(19, 139, 255, 0.3) 40%);
    }
  }
}

.woocommerce-tabs {
  ul.tabs {
    li.active {
      a {
        background: #54c1ba26 0% 0% no-repeat padding-box;
        border-radius: 12px;
        padding: 0.5rem 1rem !important;
      }
    }
  }
}

.product-container-tab {
  width: 1200px;
  margin: 0 auto;
  clear: both;

  .title {
    font-family: Barlow-Bold;
    position: relative;
    font-size: 60px;
    text-align: center;
    padding-bottom: 10px;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      height: 4px;
      width: 100px;
      background: transparent linear-gradient(270deg, #148bfb 0%, $first-color-gradient 100%) 0% 0% no-repeat padding-box;
    }
  }
}

.home-product {
  padding: 30px 15px;
  margin: 0;
  background-color: #f4fbfb;
}