/* Config */

//Variables
$color-primary: #54c1ba;
$color-secondary: #148bfb;
$color-dark: #000;

//Transition
@mixin transition-ease($s) {
  transition: all $s ease-in-out;
}

//Text shadow
@mixin text-shadow($s) {
  text-shadow: 0 2px 4px rgba($color-dark, $s);
}

//Text shadow
@mixin box-shadow($s) {
  box-shadow: 0 2px 4px rgba($color-dark, $s);
}

//Desktop Extra Large
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

//Desktop Large
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

//Desktop Medium
@mixin media-md {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

//Tablet
@mixin media-sm {
  @media screen and (max-width: 768px) {
    @content;
  }
}

//Mobile
@mixin media-mb {
  @media screen and (min-width: 320px) and (max-width: 479px) {
    @content;
  }
}

/* End Config */

/* Common */

//Title section
div.uagb-section__inner-wrap .title {
  margin-top: 4rem;
  font-size: 3.5rem;
  font-family: "Semi-Bold";
  color: rgba($color-dark, 0.9);

  &:after {
    border-radius: 2px;
    bottom: -0.5rem;
  }
}
/* End Common */

/* Icon */

i.icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

/* End Icon */

/* Header */

//Header menu
.main-header-menu {
  .menu-item {
    a {
      @include text-shadow(0.2);
    }
  }
}

//Search live
.searchwp-live-search-results {
  min-height: auto;
  max-height: 50vh;

  &.searchwp-live-search-results-showing {
    width: calc(40vw + 42px) !important;
    padding: 0.5rem 0;
  }
}
.searchwp-live-search-result {
  padding: 0;
  margin: 0;
  a {
    transition: all ease-in-out 0.1s;
    &:hover {
      background: rgba($color-dark, 0.08);
    }
  }
  .img {
    padding: 0.5rem 1rem;
    img {
      height: 7rem;
      box-shadow: 0 2px 4px rgba($color-dark, 0.24);
    }
  }
  .title {
    padding: 0.5rem 0;
    p {
      height: auto;
      font-size: 1rem;
      color: rgb(0, 0, 0);
      font-family: "Semi-Bold";
      margin-bottom: 0.5rem;
    }
    del {
      color: #999;
      margin-right: 0.25rem;
      font-size: 14px;
    }
    ins {
      font-size: 1rem;
    }
  }
}

/* End Header */

/* Slidehome */

div.wp-block-eedee-block-gutenslider {
  @include transition-ease(0.2s);

  &.content-change {
    height: 80vh;
  }
  .slick-arrow {
    min-width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    background: url(../icon/ic_arr_long_white.svg) no-repeat center center;
    opacity: 0.7;
    @include transition-ease(0.3s);

    &.slick-prev {
      left: 2rem;
      transform: rotate(180deg);

      &:hover,
      &:focus {
        left: 1.5rem;
        opacity: 1;
      }
    }
    &.slick-next {
      right: 2rem;

      &:hover,
      &:focus {
        right: 1.5rem;
        opacity: 1;
      }
    }
    &:before {
      @include transition-ease(0.2s);
      display: none;
    }
  }
  div.eedee-background-div::before {
    background: linear-gradient(
      80deg,
      rgba($color-primary, 0.6) 0%,
      rgba($color-secondary, 0.23) 100%
    );
  }
}
div.slick-list {
  .text.dark {
    width: 50%;
  }
  h1 {
    font-size: 3.75rem;
    margin-top: 1rem;
    @include text-shadow(0.24);

    &.thin-font {
      font-family: "Barlow-Regular";
      font-size: 2.5rem;
      margin-bottom: 1rem;
      margin-top: 0;
    }
  }
  a.button {
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Semi-Bold";
    padding: 0.75rem 1.5rem;
    line-height: 1;
    font-size: 1rem;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    display: inline-flex;
    @include transition-ease(0.1s);
    @include text-shadow(0.24);
    @include box-shadow(0.24);

    &:after {
      content: "";
      display: inline-block;
      width: 2rem;
      height: 0.5rem;
      background: url(../icon/ic_arr_white.svg) no-repeat center center;
      margin-left: 0.25rem;
      margin-top: 0.25rem;
      @include transition-ease(0.2s);
    }
    &:hover:after {
      margin-left: 1rem;
    }
  }
}
/* End Slidehome */

/* Lasest Tour */

/* End Lasest Tour */

/* Woocommerce */
//Product item
.woocommerce-page {
  ul.products {
    li.product {
      .woocommerce-loop-product__title {
        height: auto;
        min-height: 4rem;
        font-size: 1.5rem;
        line-height: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-bottom: 0rem;
      }
      .woocommerce-loop-product__link {
        margin-bottom: 0;
      }
      .star-rating {
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }
      .price {
        del {
          margin-right: 0.5rem;
        }
        margin-bottom: 1rem;
      }
      .button {
        font-size: 14px;
        line-height: 1;
        padding: 0.75rem 1rem;
        margin: 0;
        text-transform: uppercase;

        &:hover {
          background: transparent
            linear-gradient(270deg, #54c1ba 0, #148bfb 100%) 0% 0%;
        }

        &:after {
          content: "";
          display: inline-block;
          width: 2rem;
          height: 0.5rem;
          background: url(../icon/ic_arr_white.svg) no-repeat center center;
          margin-left: 0.5rem;
          margin-top: 0.25rem;
          @include transition-ease(0.2s);
        }
        &:hover:after {
          transform: translateX(0.25rem);
        }
      }
    }
    li.product.box-shadow-0.box-shadow-0-hover {
      .astra-shop-summary-wrap {
        padding: 1.25rem !important;
      }
    }
  }
}
.woocommerce {
  ul.products {
    li.product {
      .woocommerce-loop-product__link {
        margin-bottom: 0;
      }
      .star-rating {
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }
      .price {
        margin-bottom: 1rem;
      }
    }
    li.product.box-shadow-0.box-shadow-0-hover {
      border: 1px solid rgba($color-dark, 0.05) !important;
      .astra-shop-summary-wrap {
        padding: 1.25rem !important;
      }
    }
  }
  .products {
    ul.tour-attributes {
      margin-bottom: 1rem;
    }
  }
}
.entry-content {
  p.supplier {
    color: #888;
    display: inline-block;
    display: none;
  }
}
.astra-shop-summary-wrap {
  .tour-attributes {
    li {
      line-height: 1.5rem;
      margin: 0;
      padding: 0.25rem 0.75rem 0.25rem 0;
      font-size: 1rem;
      text-transform: inherit;
    }
  }
}

/* End Woocommerce */
