.bold-font {
  font-family: Barlow-Bold;
}

.semi-font {
  font-family: Semi-Bold;
}

.thin-font {
  font-family: Barlow-Regular;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

html {
  font-size: 16px;
}

body {
  font-family: Barlow-Regular;
  font-size: 14px;
}

.backgroundgreen {
  background: #54c1ba12;
  margin-top: 3rem;
  padding: 3rem 0;
}

.absolute {
  width: 1200px;
  max-width: 1200px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.absolute .price del {
  font-size: 26px;
  color: #fff;
}

.absolute .price ins {
  color: #74fff6;
  font-size: 36px;
}

.cusrow {
  clear: both;
  overflow: hidden;
  width: 100%;
}

.col-4 {
  width: 33.333%;
  float: left;
  padding: 0 15px;
}

.supplier {
  font-weight: bold;
  margin-bottom: 10px;
}

.block-3 {
  text-align: center;
  padding: 50px 40px;
  position: relative;
  overflow: hidden;
}

.block-3 img {
  width: 72px;
}

.block-3:after {
  content: "";
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  opacity: 0.3;
  background-color: #f9dd9b;
  bottom: -40px;
  right: -40px;
}

.block-3:before {
  content: "";
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  opacity: 0.3;
  background-color: #f9dd9b;
  top: -40px;
  left: -40px;
}

.block-3:nth-child(2):before {
  background-color: #f7b2ee;
  top: -40px;
  left: -40px;
}

.block-3:nth-child(2):after {
  background-color: #f7b2ee;
  bottom: -40px;
  right: -40px;
}

.block-3:nth-child(3):before {
  background-color: #baf99b;
  top: -40px;
  left: -40px;
}

.block-3:nth-child(3):after {
  background-color: #baf99b;
  bottom: -40px;
  right: -40px;
}

.block-3 h3 {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 19px 0 23px;
}

.block-3 p {
  font-size: 16px;
  line-height: 24px;
  color: #757575;
  font-weight: 400;
  letter-spacing: 0;
}

.block-parent {
  padding: 60px 0;
}

.application {
  padding: 60px 20px;
}

.site-branding img {
  width: 154px;
}

.bold-font {
  font-family: Barlow-Bold;
}

.semi-font {
  font-family: Semi-Bold;
}

.thin-font {
  font-family: Barlow-Regular;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.main-header-menu > .menu-item > a {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}

.main-header-menu > .menu-item:hover a, .main-header-menu > .menu-item.current-menu-item a {
  color: white;
}

#ast-fixed-header .main-header-bar {
  background: linear-gradient(80deg, #54c1ba 40%, #138bff 100%);
}

.main-header-bar {
  background: linear-gradient(80deg, #54c1ba 40%, #138bff 100%);
  background: linear-gradient(80deg, #54c1ba 40%, #138bff 100%);
  border: unset;
}

.ast-header-break-point .ast-mobile-menu-buttons-minimal.menu-toggle {
  color: #fff;
}

.single .main-header-bar {
  background: transparent;
  border: unset;
}

.ast-theme-transparent-header .ast-header-sticked .main-header-bar {
  background: linear-gradient(80deg, #54c1ba 40%, #138bff 100%);
}

.header-main-layout-1 .wp-block-image img:after {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  content: "";
  height: 100%;
  background: linear-gradient(80deg, #54c1ba 0%, rgba(19, 139, 255, 0.3) 40%);
}

.ast-fullscreen-menu-enable.ast-header-break-point .main-header-bar-navigation #site-navigation {
  background-color: rgba(17, 45, 45, 0.63);
}

.ast-footer-overlay {
  padding-top: 7em;
  padding-bottom: 0;
  background-color: unset;
}

.site-footer {
  -webkit-box-shadow: 3px 0px 8px #00000022;
          box-shadow: 3px 0px 8px #00000022;
  position: relative;
}

.site-footer .ast-container {
  max-width: 1240px;
}

.site-footer .choose-me {
  color: #000;
  position: relative;
}

.site-footer .choose-me:after {
  -webkit-transform: skewY(-2deg);
  transform: skewY(-2deg);
  z-index: 0;
  left: 0rem;
  top: 0;
  width: 100%;
  position: absolute;
  content: "";
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 3px 0px 8px #00000022;
          box-shadow: 3px 0px 8px #00000022;
}

.site-footer .choose-me:before {
  -webkit-transform: skewY(2deg);
  transform: skewY(2deg);
  z-index: 0;
  left: 0rem;
  top: 0;
  width: 100%;
  position: absolute;
  content: "";
  height: 100%;
  background: transparent -webkit-gradient(linear, right top, left top, from(#148bfb), to(#54c1ba)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(270deg, #148bfb 0%, #54c1ba 100%) 0% 0% no-repeat padding-box;
}

.site-footer .uagb-section__inner-wrap {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}

.footer-adv-overlay {
  background-color: unset;
  padding-bottom: 0;
}

.ast-small-footer-section .ast-container {
  border-top: 1px solid #e5e5e5;
  padding: 15px 0;
  margin-top: 30px;
  text-align: center;
}

.footer-adv {
  background-image: url("../imgs/halotour_bg_footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
}

.sigupnow {
  z-index: 10;
  color: #fff;
}

.sigupnow .ast-footer-widget-1-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sigupnow .widget_text {
  width: 14%;
}

.sigupnow .widget_custom_html {
  width: 36%;
}

.sigupnow .widget_newsletterwidgetminimal {
  width: 50%;
}

.sigupnow .widget-title {
  font: Bold 48px/50px Barlow-Bold;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
}

.sigupnow p {
  font-size: 20px;
  font-family: Semi-Bold;
  text-align: left;
}

.sigupnow .title {
  font-family: Barlow-Bold;
  font-size: 56px;
  letter-spacing: 0px;
  color: #000000e6;
  position: relative;
  text-align: left;
}

.sigupnow .title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 83px;
  border-radius: 50px;
  height: 4px;
  background: transparent -webkit-gradient(linear, right top, left top, from(#fb145b), to(#fd4e5b)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(270deg, #fb145b 0%, #fd4e5b 100%) 0% 0% no-repeat padding-box;
}

.sigupnow .tnp-form {
  width: 100%;
  position: relative;
  margin-top: 36px;
}

.sigupnow .tnp-widget-minimal .tnp-email {
  border: 2px solid #fff;
  padding: 18px 20px;
  border-radius: 50px;
  background: transparent;
}

.sigupnow .tnp-widget-minimal .tnp-email::-webkit-input-placeholder {
  color: #fff;
}

.sigupnow .tnp-widget-minimal .tnp-email:-ms-input-placeholder {
  color: #fff;
}

.sigupnow .tnp-widget-minimal .tnp-email::-ms-input-placeholder {
  color: #fff;
}

.sigupnow .tnp-widget-minimal .tnp-email::placeholder {
  color: #fff;
}

.sigupnow .tnp-widget-minimal input.tnp-submit {
  display: inline-block;
  width: unset;
  background: #fff;
  -webkit-box-shadow: 0px 3px 8px #00000038;
          box-shadow: 0px 3px 8px #00000038;
  border-radius: 50px;
  padding: 12px 20px;
  position: absolute;
  right: 8px;
  top: 8px;
  color: #168df9;
  font-family: Semi-Bold;
}

.ast-small-footer {
  border: unset;
}

.ast-small-footer.sigupnow:after {
  -webkit-transform: skewY(-2deg);
  transform: skewY(-2deg);
  z-index: -1;
  left: 0rem;
  top: 0;
  width: 100%;
  position: absolute;
  content: "";
  height: 114%;
  background: transparent -webkit-gradient(linear, right top, left top, from(#148bfb), to(#54c1ba)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(270deg, #148bfb 0%, #54c1ba 100%) 0% 0% no-repeat padding-box;
}

.choose-me .title {
  text-align: center;
  font-family: Barlow-Bold;
  font-size: 48px;
  position: relative;
  margin-bottom: 4rem;
}

.choose-me .title:after {
  content: "";
  position: absolute;
  background: transparent -webkit-gradient(linear, right top, left top, from(#148bfb), to(#54c1ba)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(270deg, #148bfb 0%, #54c1ba 100%) 0% 0% no-repeat padding-box;
  height: 4px;
  width: 100px;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.choose-me .wp-block-column {
  text-align: center;
}

.choose-me .wp-block-column h2 {
  font: Bold 20px/28px Barlow-Bold;
  margin-bottom: 10px;
}

.choose-me .wp-block-column p {
  font-size: 16px;
  line-height: 25px;
}

.choose-me .alignwide {
  padding: 40px;
  width: 160px;
  height: 160px;
  background-color: #0000000d;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.downloadstore img {
  width: 108px;
}

.downloadstore li {
  display: inline-block;
}

.pad6030 {
  padding-top: 60px;
  padding-bottom: 10px;
}

.ast-right-sidebar #primary {
  padding-right: 15px;
}

.ast-right-sidebar #secondary {
  padding-left: 15px;
}

.ast-right-sidebar .sidebar-main {
  -webkit-box-shadow: 0px 3px 6px #0000000f;
          box-shadow: 0px 3px 6px #0000000f;
  border: 1px solid #0000001a;
  padding: 20px;
  border-radius: 10px;
}

.ast-right-sidebar .sidebar-main h3 {
  font-size: 20px;
  font-family: Semi-Bold;
  margin-bottom: 10px;
  margin-top: 20px;
  display: inline-block;
  width: 100%;
}

.ast-right-sidebar .facetwp-checkbox {
  background: unset;
  padding: 0;
  background: #0000000d;
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
  margin: 4px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  width: 46%;
  vertical-align: middle;
}

.ast-right-sidebar .facetwp-checkbox.checked {
  background: transparent -webkit-gradient(linear, right top, left top, from(#148bfb), to(#138bff)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(270deg, #148bfb 0%, #138bff 100%) 0% 0% no-repeat padding-box;
  color: #fff;
}

.ast-right-sidebar .facetwp-counter {
  display: none;
}

.ast-right-sidebar .noUi-horizontal {
  height: 6px;
}

.ast-right-sidebar .noUi-horizontal .noUi-handle {
  border-radius: 50%;
  top: -6px;
  border: unset;
}

.ast-right-sidebar .noUi-target {
  border: unset;
  background: #00000019;
}

.ast-right-sidebar .noUi-connect {
  background: transparent -webkit-gradient(linear, right top, left top, from(#148bfb), to(#138bff)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(270deg, #148bfb 0%, #138bff 100%) 0% 0% no-repeat padding-box;
}

.ast-right-sidebar .facetwp-type-slider .facetwp-slider-reset {
  width: 100%;
  border-radius: 30px;
  padding: 10px;
  background: transparent -webkit-gradient(linear, right top, left top, from(#148bfb), to(#138bff)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(270deg, #148bfb 0%, #138bff 100%) 0% 0% no-repeat padding-box;
  margin-top: 10px;
}

.ast-right-sidebar .noUi-handle.noUi-handle-lower {
  background: #53c0bb 0% 0% no-repeat padding-box;
}

.ast-right-sidebar .noUi-handle.noUi-handle-upper {
  background: #148bfb 0% 0% no-repeat padding-box;
}

.ast-right-sidebar .facetwp-facet {
  margin-bottom: 0px;
}

.ast-right-sidebar .facetwp-facet .facetwp-search-wrap .facetwp-search {
  width: 100%;
  background: #0000000d;
  border-radius: 8px;
  font-size: 14px;
  padding: 10px 20px;
  font-size: 14px;
}

.ic-filter {
  background-image: url(../imgs/ic_filter.svg);
  height: 20px;
  width: 20px;
  margin-top: 10px;
  vertical-align: middle;
}

.page-breadcrumbs {
  text-align: center;
  font-size: 18px;
}

#ast-breadcrumbs-yoast {
  display: none;
}

.dropbtn {
  display: none;
}

.wp-block-button__link {
  line-height: 30px !important;
  letter-spacing: 1px;
  background: linear-gradient(80deg, #54c1ba 40%, #138bff 100%);
  padding: 0 40px;
  border: 0px;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  border-radius: 50px !important;
  font-weight: bold;
}

ul.flex-direction-nav {
  position: absolute;
  top: 30%;
  z-index: 99999;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0px;
  list-style: none;
}

ul.flex-direction-nav li a {
  color: #ccc;
}

ul.flex-direction-nav li a:hover {
  text-decoration: none;
}

li.flex-nav-prev {
  float: left;
}

li.flex-nav-next {
  float: right;
}

a.flex-next {
  visibility: hidden;
}

a.flex-next::after {
  visibility: visible;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

a.flex-prev {
  visibility: hidden;
}

a.flex-prev::before {
  visibility: visible;
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.wc-block-grid__products {
  padding: 15px;
}

.icon {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-departure {
  background-image: url("../icon/plane-24px.svg");
}

.icon-duration {
  background-image: url("../icon/calendar-24.svg");
}

.icon-group-size {
  background-image: url("../icon/multiuser_24.svg");
}

.icon-accomodation {
  background-image: url("../icon/hotel_32.svg");
}

.icon-vehicle {
  background-image: url("../icon/ic_vehicle.png");
}

.icon-departure-blue {
  background-image: url("../icon/plane-blue.svg");
}

.icon-duration-blue {
  background-image: url("../icon/calendar-blue.svg");
}

.icon-group-size-blue {
  background-image: url("../icon/multiuser-blue.svg");
}

.icon-accomodation-blue {
  background-image: url("../icon/hotel-blue.svg");
}

.ic-direct {
  background-image: url("../imgs/direct.svg");
  height: 124px;
  width: 124px;
}

.about-us .wp-block-media-text__media img {
  width: 50px;
}

.about-us h5 {
  line-height: 1.2;
  text-transform: uppercase;
  font-family: Barlow-Bold;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  margin-top: 20px;
}

.about-us p {
  line-height: 1.6;
  font-size: 18px;
}

.about-us .fullwidth {
  width: 100%;
  background-color: #f2f2f2;
}

.about-us .home-h5 {
  font-size: 18px;
  line-height: 0.8;
  color: #54c1ba;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 22px;
}

.about-us .home-h2 {
  font-family: Barlow-Bold;
  font-weight: bold;
  font-size: 2.9em;
}

.about-us .has-large-font-size {
  margin-left: 40px;
  font-weight: bold;
  margin-bottom: 0;
}

.about-us.fullwidth .uagb-columns__inner-wrap.uagb-columns__columns-2 {
  width: 100%;
  max-width: 100%;
}

.about-sesion {
  color: #fff;
  padding: 30px 0;
  background-attachment: fixed !important;
}

.about-sesion .uppercase {
  text-transform: uppercase;
}

.about-sesion:after {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  content: "";
  height: 100%;
  background: linear-gradient(80deg, #54c1ba 0%, rgba(19, 139, 255, 0.3) 40%);
}

.about-sesion .wp-block-media-text__content p {
  margin-bottom: 10px;
}

.about-sesion .wp-block-media-text__media {
  background-color: #54c1ba;
  border-radius: 50%;
  line-height: 80px;
  width: 80px;
  text-align: center;
}

.about-sesion .wp-block-media-text__media img {
  width: 40px;
}

.about-sesion h2 {
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.about-sesion .wp-block-media-text {
  padding: 2rem 0;
}

.wp-block-uagb-section.about-sesion {
  padding: 3rem 0;
}

.about-feature-image {
  position: relative;
}

.about-feature-image:after {
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  content: "";
  height: 100%;
  background: linear-gradient(80deg, #54c1ba 0%, rgba(19, 139, 255, 0.3) 40%);
}

.about-feature-image figcaption {
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  position: absolute;
  bottom: 1rem;
  text-align: center;
  display: block;
  width: 30%;
  color: #fff;
  z-index: 10;
  font-size: 3.5em;
}

.about-feature-image figcaption:before {
  left: 10%;
  top: 10px;
  bottom: 0;
  width: 70px;
  position: absolute;
  content: "";
  height: 1px;
  border-top: 2px dotted #fff;
  margin: auto;
}

.about-feature-image figcaption:after {
  right: 10%;
  top: 10px;
  bottom: 0;
  width: 70px;
  position: absolute;
  content: "";
  height: 1px;
  border-top: 2px dotted #fff;
  margin: auto;
}

.ab-content p {
  font-size: 18px;
  text-align: justify;
  line-height: 26px;
  font-weight: 300;
  margin: 0 0 22px;
  color: #777;
}

.contact img {
  width: 28px;
}

.contact .wp-block-media-text__content {
  padding: 0;
}

.contact .wp-block-media-text__content p {
  margin: 0;
}

.contact .wp-block-media-text__media {
  text-align: center;
}

.contact .wp-block-media-text {
  margin-bottom: 20px;
}

.default-height img {
  height: 480px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ast-archive-description .ast-archive-title {
  font-size: 20px;
}

.ast-separate-container .ast-archive-description {
  padding: 10px;
  margin-bottom: 20px;
}

.single-product div.product .entry-title {
  color: #fff;
}

.journey {
  background: #f7f7f7 0% 0% no-repeat padding-box;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.journey .icon {
  height: 150px;
  width: 150px;
}

.journey h3 {
  font-size: 32px;
  font-family: Barlow-Bold;
  text-transform: uppercase;
}

.journey p {
  margin: 0px;
  font-size: 20px;
  color: #0000006f;
  line-height: 30px;
}

.astra-search-icon {
  opacity: 0.6;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.astra-search-icon::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background: url(../icon/ic_search.svg) no-repeat;
  background-size: contain;
}

.astra-search-icon:hover, .astra-search-icon:after {
  opacity: 1;
}

.ast-dropdown-active .astra-search-icon::before {
  background: url(../icon/ic_search_dark.svg) no-repeat;
  background-size: contain;
}

.main-header-bar .ast-search-menu-icon .search-form {
  border-radius: 0.25rem;
}

.ast-search-menu-icon.ast-dropdown-active .search-field {
  width: 40vw;
  padding: 0.75rem 1rem;
  background: rgba(255, 255, 255, 0.9);
}

.slidehome .eedee-background-div::before {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  content: "";
  height: 100%;
  background: linear-gradient(80deg, #54c1ba 0%, rgba(67, 90, 112, 0.3) 40%);
}

.slick-list .text.dark {
  color: #fff;
  position: absolute;
  left: 18%;
  top: 30%;
}

.slick-list h1 {
  color: #fff !important;
  font-size: 3.5em;
  font-family: Barlow-Bold;
}

.slick-list .thin-font {
  font-family: Barlow-Regular;
}

.slick-list .button {
  background: unset;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 1.1em;
  display: inline-block;
  margin-top: 20px;
}

.slick-list .button:hover {
  background: linear-gradient(80deg, #54c1ba 40%, #138bff 100%);
}

.team-slide .uagb-team__content .uagb-team__image-crop-circle {
  width: auto !important;
}

.team-slide .slick-dots li {
  width: 40px;
  height: 6px;
  border-radius: 3px;
  background-color: #d1d1d1;
  display: inline-block;
  margin: 0 10px;
}

.team-slide .slick-dots li button::before {
  content: unset !important;
  display: none;
}

.team-slide .slick-dots li.slick-active {
  background: transparent -webkit-gradient(linear, right top, left top, from(#148bfb), to(#54c1ba)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(270deg, #148bfb 0%, #54c1ba 100%) 0% 0% no-repeat padding-box;
}

.team-slide .slick-next:before {
  content: url("../imgs/ic_arr_long.png") !important;
  display: inline-block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.team-slide .slick-prev:before {
  content: url("../imgs/ic_arr_long.png") !important;
}

.team-slide .slick-arrow.slick-prev {
  left: 10rem;
}

.team-slide .slick-arrow.slick-next {
  right: 10rem;
}

.team-slide .uagb-team__desc {
  display: inline-block;
  position: relative;
  padding: 0 30px;
}

.team-slide .uagb-team__desc:before {
  content: url("../imgs/ic_format_quote.svg");
  position: absolute;
  left: 0;
  top: -10px;
}

.team-slide .uagb-team__desc:after {
  content: url("../imgs/ic_format_quote.svg");
  position: absolute;
  right: 0;
  bottom: -10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.facetwp-type-slider .facetwp-slider-label {
  color: #fb145b;
}

.uagb-section__inner-wrap {
  max-width: 1140px;
}

.uagb-section__inner-wrap .title {
  text-align: center;
  font-family: Barlow-Bold;
  font-size: 48px;
  position: relative;
  margin-bottom: 4rem;
}

.uagb-section__inner-wrap .title:after {
  content: "";
  position: absolute;
  background: transparent -webkit-gradient(linear, right top, left top, from(#148bfb), to(#54c1ba)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(270deg, #148bfb 0%, #54c1ba 100%) 0% 0% no-repeat padding-box;
  height: 4px;
  width: 100px;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.uagb-columns__wrap .uagb-columns__inner-wrap {
  max-width: 1140px;
}

.custom-html-widget h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.custom-html-widget p {
  margin-bottom: 10px;
  line-height: 24px;
}

.tour-attributes {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  margin-bottom: 30px;
}

.tour-attributes li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 2rem;
  vertical-align: middle;
  margin-right: 10px;
}

.astra-shop-summary-wrap .tour-attributes li {
  width: 50%;
  float: left;
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.6);
}

.product-template-default .ast-container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.product-template-default .site-header {
  position: absolute;
  width: 100%;
}

.product-template-default #primary {
  margin: 0;
}

.product-template-default .main-header-container {
  width: 1200px;
  margin: 0 auto;
  clear: both;
}

.woocommerce #content .ast-woocommerce-container div.product div.images {
  width: 100%;
}

.woocommerce .ast-woocommerce-container div.product div.images {
  width: 100%;
}

.woocommerce div.product div.images.woocommerce-product-gallery .flex-viewport {
  position: relative;
}

.woocommerce div.product div.images .flex-control-thumbs {
  position: absolute;
  bottom: 3em;
  right: 3rem;
  overflow: unset;
}

.woocommerce div.product div.images .flex-control-thumbs li img {
  width: 140px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.woocommerce div.product div.images .flex-control-thumbs li img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.woocommerce div.product div.images .flex-control-thumbs li img.flex-active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.woocommerce div.product div.images img {
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}

.woocommerce div.product form.cart .button.single_add_to_cart_button {
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: transparent;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  text-align: center;
  border-top: unset;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before {
  content: unset;
}

.woocommerce div.product span.onsale {
  position: absolute;
  top: 8rem;
  left: 40%;
}

.woocommerce .woocommerce-breadcrumb {
  color: #fff;
}

.woocommerce .woocommerce-breadcrumb a {
  color: #fff;
}

.woocommerce .button.single_add_to_cart_button:after {
  content: url("../icon/ic_arrow.svg");
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  margin-left: 10px;
}

.woocommerce ul.products li.product {
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 6px #0000000f;
          box-shadow: 0px 3px 6px #0000000f;
  background-color: #fff;
}

.woocommerce ul.products li.product a img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.woocommerce ul.products li.product .astra-shop-summary-wrap {
  padding: 1.2rem !important;
}

.woocommerce ul.products li.product .price del {
  font-family: Semi-Bold;
  font-size: 20px;
  color: #9d9d9d;
}

.woocommerce ul.products li.product .price ins {
  font-family: Semi-Bold;
  font-size: 30px;
  color: #fd5669;
}

.woocommerce ul.products li.product .button {
  background: transparent -webkit-gradient(linear, right top, left top, from(#148bfb), to(#54c1ba)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(270deg, #148bfb 0%, #54c1ba 100%) 0% 0% no-repeat padding-box;
  border-radius: 31px;
  display: block;
  text-align: center;
}

.woocommerce ul.products li.product .onsale {
  border-radius: unset;
  background-image: url(../icon/sale-label.svg);
  right: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 3rem;
  min-height: 3rem;
  line-height: 4rem;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
}

.woocommerce ul.products li.product .ast-woo-product-category {
  display: none;
}

.woocommerce ul.products li.product.box-shadow-0.box-shadow-0-hover {
  border: 1px solid transparent;
}

.woocommerce ul.products li.product.box-shadow-0.box-shadow-0-hover:hover {
  border-color: #53c0bb;
}

.woocommerce .star-rating {
  color: #eca500;
}

.woocommerce .star-rating::before {
  color: #eca500;
}

.woocommerce .woocommerce-ordering {
  background-color: #0000000d;
  padding: 0;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  vertical-align: middle;
  padding: 0px 20px;
}

.woocommerce .woocommerce-ordering .orderby {
  height: 40px;
  border: unset;
  background-color: unset;
}

.woocommerce-page #content .ast-woocommerce-container div.product div.images {
  width: 100%;
}

.woocommerce-page #content div.product div.summary {
  width: 55%;
  position: absolute;
  float: left;
  top: 10rem;
  color: #fff;
}

.woocommerce-page .ast-woocommerce-container div.product div.images {
  width: 100%;
}

.woocommerce-page ul.products li.product {
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}

.woocommerce-page ul.products li.product .woocommerce-loop-product__title {
  font-family: Semi-Bold;
  font-size: 24px;
  color: #000;
  height: 64px;
  overflow: hidden;
}

.woocommerce-page ul.products li.product .astra-shop-summary-wrap {
  padding: 1.2rem !important;
}

.woocommerce-page ul.products li.product .price del {
  font-family: Semi-Bold;
  font-size: 20px;
  color: #9d9d9d;
}

.woocommerce-page ul.products li.product .button {
  background: transparent -webkit-gradient(linear, right top, left top, from(#148bfb), to(#54c1ba)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(270deg, #148bfb 0%, #54c1ba 100%) 0% 0% no-repeat padding-box;
  border-radius: 31px;
  display: block;
  text-align: center;
}

.woocommerce-page ul.products li.product .onsale {
  border-radius: unset;
  background-image: url(../icon/sale-label.svg);
  right: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 3rem;
  min-height: 3rem;
  line-height: 4rem;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
}

.woocommerce-page ul.products li.product .ast-woo-product-category {
  display: none;
}

.woocommerce-product-gallery__image {
  position: relative;
}

.woocommerce-product-gallery .flex-viewport:after {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  content: "";
  height: 100%;
  background: linear-gradient(80deg, #000 0%, rgba(19, 139, 255, 0.3) 40%);
}

.woocommerce-tabs ul.tabs li.active a {
  background: #54c1ba26 0% 0% no-repeat padding-box;
  border-radius: 12px;
  padding: 0.5rem 1rem !important;
}

.product-container-tab {
  width: 1200px;
  margin: 0 auto;
  clear: both;
}

.product-container-tab .title {
  font-family: Barlow-Bold;
  position: relative;
  font-size: 60px;
  text-align: center;
  padding-bottom: 10px;
}

.product-container-tab .title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  height: 4px;
  width: 100px;
  background: transparent -webkit-gradient(linear, right top, left top, from(#148bfb), to(#54c1ba)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(270deg, #148bfb 0%, #54c1ba 100%) 0% 0% no-repeat padding-box;
}

.home-product {
  padding: 30px 15px;
  margin: 0;
  background-color: #f4fbfb;
}

@media screen and (max-width: 1600px) {
  .ast-sticky-main-shrink.ast-header-break-point .ast-sticky-shrunk .ast-mobile-menu-buttons {
    padding-bottom: 0;
  }
  .product-template-default .ast-container {
    overflow: hidden;
  }
  .product-template-default #primary {
    padding: 0;
    margin: 0;
  }
  #ast-fixed-header .main-header-bar {
    background: linear-gradient(80deg, #54c1ba 40%, #138bff 100%);
  }
  .main-header-bar {
    padding: 0;
  }
  .woocommerce div.product div.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    clear: unset !important;
    width: 14%;
  }
  .woocommerce div.product div.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
    margin-right: 1em;
  }
  .woocommerce div.product div.images .flex-control-thumbs {
    left: 0;
    width: 100%;
    padding: 0 15px;
  }
  .absolute {
    width: 100%;
    top: 0;
    -webkit-transform: none;
            transform: none;
    left: 15px;
  }
  .woocommerce-product-details__short-description p {
    margin-bottom: 10px;
  }
  .tour-attributes {
    margin-bottom: 10px;
  }
  .product-container-tab {
    padding: 0 15px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .product-container-tab {
    width: 100%;
    padding: 0 15px;
  }
  .product-template-default .main-header-container {
    width: 100%;
    padding: 0 15px;
  }
  .choose-me .wp-block-columns {
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .woocommerce[class*="columns-"].columns-3 > ul.products li.product {
    width: 48%;
    margin: 10px 5px;
  }
  .product-container-tab {
    width: 100%;
  }
  .product-template-default .main-header-container {
    width: 100%;
  }
  .product-template-default #primary {
    padding-top: 0;
  }
  .product-template-default .ast-container {
    overflow: hidden;
  }
  .woocommerce div.product div.images .flex-control-thumbs li img {
    width: 120px;
    height: 70px;
  }
  .woocommerce-page #content div.product div.summary {
    width: 70%;
  }
  .icon.ic-direct {
    display: none;
  }
  .ast-footer-overlay {
    padding-top: 3em;
    padding-bottom: 2em;
  }
  .sigupnow .widget-title {
    padding-left: 3rem;
    position: relative;
    font-size: 40px;
    margin-bottom: 5px;
    padding-left: 4rem;
  }
  .sigupnow .widget-title:before {
    content: "";
    background-image: url("../imgs/direct.svg");
    background-size: cover;
    height: 3rem;
    width: 3rem;
    position: absolute;
    left: 0;
  }
  .sigupnow p {
    text-align: center;
    font-size: 16px;
  }
  .sigupnow .widget_text {
    display: none;
  }
  .sigupnow .widget_custom_html {
    display: block;
    width: 50%;
    padding: 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .dropbtn {
    display: inline-block;
  }
  .ast-right-sidebar #secondary {
    overflow-y: scroll;
    height: 100vh;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .single-product div.product .entry-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
  }
  .absolute {
    max-width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: unset;
            transform: unset;
  }
  .absolute .price del {
    font-size: 20px;
  }
  .absolute .price ins {
    font-size: 30px;
    font-weight: bold;
  }
  .ast-header-break-point .site-header {
    border-bottom: 0;
  }
  .slick-list h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .slick-list .text.dark {
    top: 36%;
  }
  .product-container-tab {
    width: 100%;
    padding: 0 15px;
  }
  .product-container-tab .title {
    font-size: 36px;
    padding-bottom: 15px;
  }
  .product-template-default .main-header-container {
    width: 100%;
    padding: 0 15px;
  }
  .single .main-header-bar {
    padding: 0;
  }
  .woocommerce-page #content div.product div.summary {
    width: 100%;
    top: 5rem;
    padding: 0 15px;
    overflow: hidden;
    margin: 0;
  }
  .col-4 {
    width: 50%;
    margin: 15px 0;
  }
  .woocommerce div.product div.images img {
    height: 700px;
  }
  .woocommerce div.product div.images .flex-control-thumbs {
    bottom: 0;
  }
  .woocommerce div.product div.images .flex-control-thumbs li img {
    height: 46px;
  }
  .woocommerce div.product div.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    width: 20%;
  }
  .woocommerce #content div.product .woocommerce-tabs ul.tabs li {
    display: inline-block;
    margin: 0 10px;
  }
  .tour-attributes {
    margin-bottom: 0;
  }
  .woocommerce-product-details__short-description p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
  }
  .sigupnow .ast-footer-widget-1-area {
    display: block;
  }
  .sigupnow .widget_text {
    width: 100%;
  }
  .sigupnow .widget_newsletterwidgetminimal {
    width: 100%;
  }
  .sigupnow .widget-title {
    text-align: center;
    padding-left: 3rem;
    position: relative;
    font-size: 40px;
  }
  .sigupnow .widget-title:before {
    content: "";
    background-image: url("../imgs/direct.svg");
    background-size: cover;
    height: 3rem;
    width: 3rem;
    position: absolute;
    left: 0;
  }
  .sigupnow .title {
    text-align: center;
  }
  .sigupnow .title::after {
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  .sigupnow .tnp-widget-minimal input.tnp-submit {
    position: initial;
    width: 100%;
    margin-top: 15px;
  }
  .sigupnow p {
    text-align: center;
    font-size: 16px;
  }
  .woocommerce[class*="columns-"].columns-3 > ul.products li.product {
    width: 100%;
    margin-right: 0;
  }
  .site-branding img {
    width: 75px;
  }
  .ast-sticky-main-shrink .ast-sticky-shrunk .site-logo-img img {
    width: 75px;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .entry-content .wp-block-columns .wp-block-column {
    margin: 10px 0;
  }
  .journey {
    padding: 15px;
  }
  .journey h3 {
    font-size: 18px;
  }
  .journey p {
    font-size: 16px;
  }
  .journey .icon {
    height: 68px;
    width: 68px;
  }
  .search .woocommerce-page ul.products.columns-3 li.product {
    width: 100%;
    margin: 10px 0;
  }
  .ast-separate-container #content .ast-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .ast-right-sidebar #primary {
    padding: 0;
    margin: 0;
  }
  .ast-right-sidebar #secondary {
    width: 80%;
    padding: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 100000;
  }
  .default-height img {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-feature-image img {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-feature-image figcaption {
    width: 100%;
    font-size: 2.5em;
  }
  .show #secondary.widget-area.secondary {
    left: 0;
    background: #fff;
  }
  .site-footer .choose-me:after {
    -webkit-transform: skewY(-7deg);
    transform: skewY(-7deg);
  }
  .site-footer .choose-me:before {
    -webkit-transform: skewY(7deg);
    transform: skewY(7deg);
  }
  .ast-small-footer.sigupnow:after {
    -webkit-transform: skewY(-7deg);
    transform: skewY(-7deg);
  }
  .choose-me .wp-block-column {
    padding: 0 15px;
  }
  .icon.ic-direct {
    display: none;
  }
  .ast-footer-overlay {
    padding-top: 3em;
    padding-bottom: 2em;
  }
}
/*# sourceMappingURL=main.css.map */