.home .wp-block-group.about-us-wrap {
  padding: 3.5rem 0;
  background: linear-gradient(270deg, #ec0cef 0, #00dbde 100%);
  color: #fff;
}
.about-us .home-h5 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

.about-us .home-h2 {
  color: #fff;
  font-size: 3.5rem;
  font-family: "Semi-Bold";
  margin-bottom: 1rem;
}

.about-us .wp-block-button .wp-block-button__link {
  background: transparent;
  border: 2px solid #fff;
}
