/*
 Theme Name:   Travel Theme
 Template:     flatsome 
*/

/* latin-ext */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Barlow Bold"), local("Barlow-Bold"),
    url(/wp-content/themes/landing/fonts/barlow-extralight-webfont.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* vietnamese */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Barlow Bold"), local("Barlow-Bold"),
    url(/wp-content/themes/landing/fonts/barlow-extralight-webfont.woff2)
      format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Barlow Bold"), local("Barlow-Bold"),
    url(/wp-content/themes/landing/fonts/barlow-extralight-webfont.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Barlow Bold"), local("Barlow-Bold"),
    url(/wp-content/themes/landing/fonts/barlow-light-webfont.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* vietnamese */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Barlow Bold"), local("Barlow-Bold"),
    url(/wp-content/themes/landing/fonts/barlow-light-webfont.woff2)
      format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Barlow Bold"), local("Barlow-Bold"),
    url(/wp-content/themes/landing/fonts/barlow-light-webfont.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Barlow Regular"), local("Barlow-Regular"),
    url(/wp-content/themes/landing/fonts/barlow-400.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Barlow Regular"), local("Barlow-Regular"),
    url(/wp-content/themes/landing/fonts/barlow-400.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Barlow Regular"), local("Barlow-Regular"),
    url(/wp-content/themes/landing/fonts/barlow-400.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Barlow Medium"), local("Barlow-Medium"),
    url(/wp-content/themes/landing/fonts/barlow-500.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* vietnamese */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Barlow Medium"), local("Barlow-Medium"),
    url(/wp-content/themes/child/fonts/barlow-500.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Barlow Medium"), local("Barlow-Medium"),
    url(/wp-content/themes/landing/fonts/barlow-500.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Barlow Bold"), local("Barlow-Bold"),
    url(/wp-content/themes/landing/fonts/barlow-700.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* vietnamese */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Barlow Bold"), local("Barlow-Bold"),
    url(/wp-content/themes/landing/fonts/barlow-700.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Barlow Bold"), local("Barlow-Bold"),
    url(/wp-content/themes/landing/fonts/barlow-700.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/*Email Form*/
.main-body-cont {
  position: relative;
}
.email-form {
  background: linear-gradient(80deg, #54c1ba 0%, rgba(19, 139, 255, 0.3) 40%);
  color: #000;
  padding: 30px;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
}
.error404 .header {
  display: none;
}

.page-id-546 .header {
  display: none;
}

.insurance-title .section-title span {
  text-transform: unset;
}

.insurance-title h3 b {
  opacity: 0.5;
  background-color: #166986 !important;
}

.insurance-icon-box h2 {
  color: #166986;
}

.insurance-button {
  background-color: #166986;
}

.insurance-icon-box .icon-box-text {
  display: flex;
  align-items: center;
}

.insurance-color {
  color: #166986;
}

.insurance-page-header .entry-title {
  color: #166986;
}

.header-wrapper.stuck {
  background: linear-gradient(80deg, #54c1ba 40%, rgba(19, 139, 255, 1) 100%);
}

.header-wrapper .flex-col.hide-for-medium.flex-right {
  width: 57%;
}

h2.card-custom-h2:hover {
  opacity: 0.8;
}

.header {
  left: 0;
  top: 40px;
  width: 100%;
  position: absolute;
  height: auto;
  z-index: 999;
}

.text-box.trans-frame .text {
  background-color: unset;
}

.text.box-shadow-1.dark {
  background: linear-gradient(80deg, #54c1ba 40%, rgb(84, 193, 186) 100%);
}

.dark p span {
  color: #ffd65e;
}

.home-btn {
  line-height: 43px;
  letter-spacing: 1px;
  background: linear-gradient(80deg, #54c1ba 40%, rgba(19, 139, 255, 1) 100%);
  padding: 0 40px;
  border: 0px;
  transition: ease-in 0.2s;
}

.banner.has-hover.overflowbuble {
  overflow: hidden;
}

.overflowbuble .banner-layers {
  overflow: hidden;
}

.bubble {
  opacity: 0.2;
}

.ab-icon .icon-inner {
  background-color: #54c1ba;
}

.ab-icon h5 span {
  font-weight: 400;
}

.ab-icon .icon-inner:after {
  left: 2px;
  top: 2px;
  width: calc(100% - 4px);
  border: thin solid rgba(255, 255, 255, 0.25);
  position: absolute;
  content: "";
  height: calc(100% - 3px);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

input.wpcf7-form-control.wpcf7-submit {
  border: 0;
  background: linear-gradient(80deg, #54c1ba 40%, rgba(19, 139, 255, 1) 100%);
}

.absolute-footer .copyright-footer {
  font-size: 12px;
  line-height: 1.1;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 50px 0;
  padding: 0;
}

.blog-featured-title .entry-title:before {
  left: -100px;
  top: 10px;
  bottom: 0;
  width: 70px;
  position: absolute;
  content: "";
  height: 1px;
  border-top: 2px dotted #fff;
  margin: auto;
}

p.tour-detail-custom-p {
  margin-bottom: 0.1em;
}

.blog-featured-title .entry-title:after {
  right: -100px;
  top: 10px;
  bottom: 0;
  width: 70px;
  position: absolute;
  content: "";
  height: 1px;
  border-top: 2px dotted #fff;
  margin: auto;
}

.banner-linear .banner-bg.fill:after {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  content: "";
  height: 100%;
  background: linear-gradient(80deg, #54c1ba 0%, rgba(19, 139, 255, 0.3) 40%);
}

.banner-linear .section-bg.fill:after {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  content: "";
  height: 100%;
  background: linear-gradient(80deg, #54c1ba 0%, rgba(19, 139, 255, 0.3) 40%);
}

.white.is-outline.linear:hover {
  color: #fff !important;
  background: linear-gradient(80deg, #54c1ba 40%, rgba(19, 139, 255, 1) 100%);
}

nav.woocommerce-breadcrumb.breadcrumbs {
  display: none;
}

a.button.primary.linear {
  border: 0;
  background: linear-gradient(80deg, #54c1ba 40%, rgba(19, 139, 255, 1) 100%);
}

.featured-title .page-title-bg.fill:after {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  content: "";
  height: 100%;
  background: linear-gradient(80deg, #54c1ba 40%, rgba(19, 139, 255, 1) 100%);
}

.banner-custom-title:before {
  left: 10%;
  top: 10px;
  bottom: 0;
  width: 70px;
  position: absolute;
  content: "";
  height: 1px;
  border-top: 2px dotted #fff;
  margin: auto;
}

.banner-custom-title:after {
  right: 10%;
  top: 10px;
  bottom: 0;
  width: 70px;
  position: absolute;
  content: "";
  height: 1px;
  border-top: 2px dotted #fff;
  margin: auto;
}

.blog-featured-title .entry-title {
  font-size: 50px;
  display: inline-block;
  position: relative;
  line-height: 1.2;
  color: #fff;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0 0 29px;
}

h3.tour-custom-banner-title {
  font-size: 50px;
  display: inline-block;
  position: relative;
  line-height: 1.2;
  color: #fff;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0 0 29px;
}

.blog-featured-title .page-title-inner {
  min-height: 500px !important;
}

span.woocommerce-Price-amount.amount {
  color: #fd6464;
  font-weight: 600;
}

ins span.woocommerce-Price-amount.amount {
  color: #fd6464;
  font-weight: 600;
}

del span.woocommerce-Price-amount.amount {
  font-size: 80%;
  color: #818181;
  font-weight: 600;
}

.tour-price-dash {
  font-size: 22px;
  color: #818181;
  text-decoration: line-through;
}

.tour-detail-sec .badge-container.is-larger.absolute.left.top {
  display: none;
}

.tour-detail-banner .banner-bg.fill:after {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  content: "";
  height: 100%;
  background: linear-gradient(
    80deg,
    rgba(85, 193, 186, 0.3) 0%,
    rgba(63, 94, 251, 0.4) 100%
  );
}

.tour-detail-banner .text-box.banner-layer {
  width: 90% !important;
}

.tour-btn-book {
  font-size: 14px;
  margin-top: 0;
  border: unset;
  line-height: 43px;
  height: 45px;
  font-weight: 600;
  min-width: 160px;
  letter-spacing: 1px;
  background: linear-gradient(80deg, #54c1ba 40%, rgba(19, 139, 255, 1) 100%);
  padding: 0 40px;
}

.tour-detail-sec .col {
  padding-left: 15px;
  padding-right: 15px;
}

.tour-detail-sec.section {
  padding-left: 0;
  padding-right: 0;
}

.footer-widgets .widget_media_image {
  margin: auto;
}

.footer-widgets.footer.footer-1 {
  padding: 15px 0 5px;
}

.footer-secondary.pull-right {
  display: none;
}

.ab-sec-info .flickity-prev-next-button {
  left: 2.5em;
  top: unset;
  bottom: 0;
  height: auto;
}

.ab-sec-info button.flickity-button.flickity-prev-next-button.previous {
  left: 0;
  top: unset;
  bottom: 0;
  height: auto;
}

.ab-sec-info .slider-nav-circle .flickity-prev-next-button:hover svg {
  border: none;
  background: linear-gradient(80deg, #54c1ba 40%, rgba(19, 139, 255, 1) 100%);
}

.list-blog .badge-container {
  left: unset;
  right: 0;
  margin: 10px;
}

.list-blog .badge.badge-circle {
  margin-left: unset;
  width: 4em;
  border: 4px solid #ffd65e;
  height: 4em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.list-blog .badge-inner.secondary.on-sale {
  color: #ffd65e;
  background: linear-gradient(135deg, #54c1ba 1%, #166986 100%);
  font-size: 125%;
}

.list-blog .price-wrapper {
  display: none;
}

.list-blog .products.row.row-small {
  max-width: 100%;
}

.list-blog a.primary.button {
  margin-top: 0;
  background-color: unset;
  border: 0;
  color: unset;
  padding: 0;
}

.list-blog .button:hover {
  -moz-box-shadow: unset;
  -webkit-box-shadow: unset;
  -o-box-shadow: unset;
  box-shadow: unset;
}

.list-blog .is-small,
.is-small.button {
  font-size: 1.1em;
}

.list-blog .has-shadow .box-text-products {
  bottom: 0;
  padding-left: 2.2em;
  padding-right: 2.2em;
  padding-bottom: 1em;
  position: absolute;
  background-image: -moz-linear-gradient(
    bottom,
    rgba(22, 105, 134, 1),
    rgba(84, 193, 186, 0)
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(22, 105, 134, 1),
    rgba(84, 193, 186, 0)
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(22, 105, 134, 1),
    rgba(84, 193, 186, 0)
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgba(22, 105, 134, 1),
    rgba(84, 193, 186, 0)
  );
  background-image: linear-gradient(
    to top,
    rgba(22, 105, 134, 1),
    rgba(84, 193, 186, 0)
  );
}

.list-blog .title-wrapper p.name.product-title {
  font-size: 1.7em;
  font-weight: 700;
}

.list-blog .title-wrapper {
  margin-bottom: -0.5em;
}

.list-blog .box-text a:not(.button) {
  margin-top: 1em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.list-blog p.box-excerpt.is-small {
  margin-bottom: 1em;
  margin-top: 0;
  display: -webkit-box;
  overflow: hidden;
  height: auto !important;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.list-blog .product-title a:hover {
  opacity: 0.8;
}

.list-blog .add-to-cart-button a:hover {
  opacity: 0.8;
}

.list-blog p.name.product-title {
  height: 70px !important;
}

.list-blog a.primary.button {
  padding-right: 24px;
  background: url(/wp-content/uploads/2020/03/right-2.svg) no-repeat;
  background-position: right;
  background-size: 16px;
  transition: ease-in 0.2s;
}

.list-blog a.primary.button:hover,
.list-blog a.primary.button:active {
  padding-right: 30px;
}

.home-sec-middle .home-mid-row .col {
  padding: 0;
}

.home-banner-title h1 {
  font-size: 36px;
}

.home-banner-title .page-title-inner {
  padding: 0px;
}

.home-banner-title .title-breadcrumbs {
  display: none;
}

/*** FOR CATEGORY ***/

.term-tour .row.category-page-row,
.search .row.category-page-row {
  max-width: 100%;
}

.term-tour .shop-page-title.category-page-title.page-title.featured-title.dark,
.search .shop-page-title.category-page-title.page-title.featured-title.dark {
  padding-top: 8rem;
}

.term-tour .badge-container,
.search .badge-container {
  left: unset;
  right: 0;
  margin: 10px;
}

.term-tour .badge.badge-circle,
.search .badge.badge-circle {
  margin-left: unset;
  width: 4em;
  border: 4px solid #ffd65e;
  height: 4em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.term-tour .badge-inner.secondary.on-sale,
.search .badge-inner.secondary.on-sale {
  color: #ffd65e;
  background: linear-gradient(135deg, #54c1ba 1%, #166986 100%);
  font-size: 125%;
}

.term-tour .price-wrapper,
.search .price-wrapper {
  display: none;
}

.term-tour .products.row.row-small,
.search .products.row.row-small {
  max-width: 100%;
}

.term-tour a.primary.button,
.search a.primary.button {
  margin-top: 0;
  background-color: unset;
  border: 0;
  color: unset;
  padding: 0;
}

.term-tour .button:hover,
.search .button:hover {
  -moz-box-shadow: unset;
  -webkit-box-shadow: unset;
  -o-box-shadow: unset;
  box-shadow: unset;
}

.term-tour .is-small,
.is-small.button,
.search .is-small,
.is-small.button {
  font-size: 1.1em;
}

.term-tour .has-shadow .box-text-products,
.search .has-shadow .box-text-products {
  bottom: 0;
  padding-left: 2.2em;
  padding-right: 2.2em;
  padding-bottom: 1em;
  position: absolute;
  background-image: -moz-linear-gradient(
    bottom,
    rgba(22, 105, 134, 1),
    rgba(84, 193, 186, 0)
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(22, 105, 134, 1),
    rgba(84, 193, 186, 0)
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(22, 105, 134, 1),
    rgba(84, 193, 186, 0)
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgba(22, 105, 134, 1),
    rgba(84, 193, 186, 0)
  );
  background-image: linear-gradient(
    to top,
    rgba(22, 105, 134, 1),
    rgba(84, 193, 186, 0)
  );
}

.term-tour .title-wrapper p.name.product-title,
.search .title-wrapper p.name.product-title {
  font-size: 1.7em;
  font-weight: 700;
}

.term-tour .title-wrapper,
.search .title-wrapper {
  margin-bottom: -0.5em;
}

.term-tour .box-text a:not(.button),
.search .box-text a:not(.button) {
  margin-top: 1em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #f1f1f1;
}

.term-tour p.box-excerpt.is-small,
.search p.box-excerpt.is-small {
  margin-bottom: 1em;
  margin-top: 0;
  display: -webkit-box;
  overflow: hidden;
  height: auto !important;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: #f1f1f1;
}

.term-tour .product-title a:hover,
.search .product-title a:hover {
  opacity: 0.8;
}

.term-tour .add-to-cart-button a:hover,
.search .add-to-cart-button a:hover {
  opacity: 0.8;
}

.term-tour p.name.product-title,
.search p.name.product-title {
  height: 70px !important;
}

.term-tour a.primary.button,
.search a.primary.button {
  padding-right: 24px;
  background: url(/wp-content/uploads/2020/03/right-2.svg) no-repeat;
  background-position: right;
  background-size: 16px;
  color: #f1f1f1;
  transition: ease-in 0.2s;
}

.term-tour a.primary.button:hover,
.term-tour a.primary.button:active,
.search a.primary.button:hover,
.search a.primary.button:active {
  padding-right: 30px;
}

.term-tour p.category,
.search p.category {
  display: none;
}

/*** END CATEGORY ***/

@media (max-width: 1999px) {
  .home-h5 {
    font-size: 18px;
    line-height: 0.8;
    color: #54c1ba;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 22px;
  }

  .home-h2 {
    font-size: 36px;
    line-height: 40px;
  }

  .home-p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
  }

  .home-btn {
    font-size: 14px;
    height: 45px;
    font-weight: 600;
  }

  .slider {
    padding-top: 0;
  }

  .home-sec-bottom .home-p-lead {
    font-size: 16px;
    line-height: 24px;
    color: #757575;
    font-weight: 400;
    letter-spacing: 0;
  }

  .home-sec-bottom .home-h3 {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 19px 0 23px;
  }

  input.wpcf7-form-control.wpcf7-submit {
    font-size: 14px;
    text-align: center;
    line-height: 43px;
    height: 45px;
    color: #fff;
    font-weight: 600;
    min-width: 130px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    letter-spacing: 1px;
    padding: 0 40px;
  }

  .fa-icon-large-green {
    font-size: 3em;
    color: #54c1ba;
  }

  .fa-icon-large-blue {
    font-size: 3em;
    color: #138bff;
  }

  .fa-icon-blue {
    color: #138bff;
  }

  .card-custom-text {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .card-custom-a {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .button.back-to-top {
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    border: none;
    color: #fff;
    background: linear-gradient(80deg, #54c1ba 40%, rgba(19, 139, 255, 1) 100%);
  }

  .button.back-to-top:hover,
  .button.back-to-top:focus,
  .button.back-to-top:active {
    background: linear-gradient(80deg, #54c1ba 40%, rgba(19, 139, 255, 1) 100%);
  }

  .ab-section h5 span {
    font-weight: 400;
  }

  .ab-content p.thin-font {
    font-size: 18px;
    text-align: justify;
    line-height: 26px;
    font-weight: 300;
    margin: 0 0 22px;
  }

  .ab-content h2.thin-font {
    font-size: 36px;
    line-height: 45px;
    font-weight: 500 !important;
    margin: 0 0 29px;
  }

  .ab-title h1.entry-title.mb-0 {
    font-size: 36px;
    margin-bottom: 45px;
    line-height: 40px;
  }

  .ab-sec-title h1 {
    font-size: 36px;
    line-height: 40px;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  }

  .contact-text h3 {
    font-size: 14px;
    line-height: 0.8;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .contact-text p.thin-font {
    font-size: 14px;
    display: inline-block;
    position: relative;
    color: #757575;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.75px;
  }

  .tour-price {
    font-size: 27px;
    color: #fd6464;
    font-weight: 800;
  }

  .entry-divider.is-divider.small {
    display: none;
  }

  h6.entry-category.is-xsmall {
    display: none;
  }

  .tour-h3 {
    font-size: 25px;
    line-height: 1.1;
    color: #000;
    font-weight: 700;
    margin: 0 0 15px;
  }

  .tour-h4 {
    font-size: 20px;
    line-height: 0.8;
    color: #54c1ba;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 22px;
  }

  .tour-h5 {
    font-size: 16px;
    line-height: 0.8;
    color: #51c4ba;
    font-weight: 650;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 12px;
  }

  .tour-h5-icon {
    font-size: 16px;
    line-height: 0.8;
    /*     color: #51c4ba; */
    font-weight: 650;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 12px;
  }

  .tour-p {
    font-size: 18px;
    text-align: justify;
    line-height: 26px;
    font-weight: 350;
    margin: 0 0 10px;
  }

  .comments-area {
    display: none;
  }
}
.product-small p.category {
  display: none;
}
@media only screen and (max-width: 500px) {
  .has-off-canvas .mobile-nav .current-lightbox-clicked {
    -moz-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
    opacity: 1 !important;
  }

  .mfp-ready .mfp-close {
    opacity: 0 !important;
  }

  .off-canvas-left .mfp-content {
    top: 125px;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateY(-125px);
    -o-transform: translateX(0);
    -webkit-transform: translateY(-125px);
    transform: translateX(0);
    -o-transform: translateY(-125px);
    transform: translateY(-125px);
    width: 100%;
    opacity: 0;
    position: absolute;
    -moz-transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
  }

  .off-canvas-left.mfp-ready .mfp-content,
  .off-canvas-right.mfp-ready .mfp-content {
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }

  .mfp-container .mfp-content {
    height: fit-content;
  }

  button.mfp-close {
    right: 45px;
    top: 60px;
  }

  .mfp-bg.mfp-ready {
    opacity: 0;
  }

  .sidebar-menu.no-scrollbar {
    background-color: #138bff;
  }

  .off-canvas .sidebar-menu {
    padding: 0;
  }

  .slider-hero .text-left {
    padding-left: 10%;
  }

  .footer-widgets .widget_media_image {
    max-width: 35%;
    min-width: 30%;
  }

  .entry-title:before {
    display: none;
  }

  .entry-title:after {
    display: none;
  }

  .entry-title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
  }

  .blog-featured-title .entry-title {
    font-size: 25px !important;
  }

  .header-inner.flex-row.container.logo-left {
    max-width: 80%;
  }

  .card-custom-a .is-xxlarge {
    font-size: 1.5em;
  }

  .about-us .col {
    padding: 0 0 30px;
  }

  .row .row:not(.row-collapse) {
    margin-left: 15px;
    margin-right: 15px;
  }

  h2.card-custom-h2 {
    font-size: 25px;
  }

  p.lead.card-custom-text {
    font-size: 15px;
    font-weight: 400;
  }

  .card-custom-a {
    font-size: 15px;
  }

  .row.row-collapse.row-full-width.align-center {
    padding-bottom: 20px !important;
  }

  .banner-custom-title:before {
    display: none;
  }

  .banner-custom-title:after {
    display: none;
  }

  .list-blog p.name.product-title {
    height: auto !important;
  }
  .list-blog .box-text a:not(.button) {
    margin-bottom: 0.5em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 850px) {
  .has-off-canvas .mobile-nav .current-lightbox-clicked {
    -moz-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
    opacity: 1 !important;
  }

  .mfp-ready .mfp-close {
    opacity: 0 !important;
  }

  .off-canvas-left .mfp-content {
    top: 125px;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateY(-125px);
    -o-transform: translateX(0);
    -webkit-transform: translateY(-125px);
    transform: translateX(0);
    -o-transform: translateY(-125px);
    transform: translateY(-125px);
    width: 100%;
    opacity: 0;
    position: absolute;
    -moz-transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
  }

  .off-canvas-left.mfp-ready .mfp-content,
  .off-canvas-right.mfp-ready .mfp-content {
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }

  .mfp-container .mfp-content {
    height: fit-content;
  }

  button.mfp-close {
    right: 85px;
    top: 75px;
  }

  .mfp-bg.mfp-ready {
    opacity: 0;
  }

  .sidebar-menu.no-scrollbar {
    background-color: #138bff;
  }

  .off-canvas .sidebar-menu {
    padding: 0;
  }

  .slider-hero .text-left {
    padding-left: 10%;
  }

  .footer-widgets .widget_media_image {
    max-width: 35%;
    min-width: 30%;
  }

  .header-inner.flex-row.container.logo-left {
    max-width: 80%;
  }

  .row .row:not(.row-collapse) {
    margin-left: 12px;
    margin-right: 12px;
  }

  .entry-title:before {
    display: none;
  }

  .entry-title:after {
    display: none;
  }

  .entry-title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
  }

  .card-custom-a .is-xxlarge {
    font-size: 1.5em;
  }

  .about-us .col {
    padding: 0 0 30px;
  }

  h2.card-custom-h2 {
    font-size: 30px;
  }

  p.lead.card-custom-text {
    font-size: 20px !important;
    font-weight: 400;
  }

  .card-custom-a {
    font-size: 20px;
  }

  .box-sale {
    width: 25% !important;
  }

  .box-sale p span {
    font-size: 1.7rem !important;
  }

  .banner-custom-title:before {
    display: none;
  }

  .banner-custom-title:after {
    display: none;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .header-inner.flex-row.container.logo-left {
    max-width: 80%;
  }

  .slider-hero .text-left {
    padding-left: 20%;
  }

  .slider-hero .text-box {
    width: 80%;
  }

  .row .row:not(.row-collapse) {
    margin-left: 0;
    margin-right: 0;
  }

  .list-blog .large-columns-4 > .col {
    max-width: 50%;
    flex-basis: 50%;
  }

  .banner-4k {
    padding-top: 50vh !important;
  }

  .lg-y90 {
    bottom: 30%;
  }

  .ab-col-desk {
    max-width: 50%;
    min-width: 30%;
  }

  .ab-sec-middle {
    min-width: 35%;
  }

  .about-us .col {
    padding: 0 0 30px;
  }

  .ab-sec-icon .icon-box-img {
    width: 90px;
  }

  .ab-row-icon .text-left {
    padding: 0;
  }

  .banner-4k .lg-x100 {
    right: 10%;
  }

  .home-banner-text {
    width: 70% !important;
  }

  .banner-4k .lg-y5 {
    top: 10%;
  }

  .banner-4k .lg-y50 {
    top: 43%;
    top: 50%;
  }

  .banner-4k .lg-y10 {
    top: 12%;
  }

  .lg-y5 {
    top: 26%;
  }

  .lg-y10 {
    top: 28%;
  }

  .banner-layers .frame {
    width: 70% !important;
  }

  .banner-layers .trans-frame {
    width: 70% !important;
  }

  .banner.banner-img {
    padding-top: 53vh !important;
  }

  p {
    font-size: 110%;
  }

  h5.uppercase {
    font-size: 1.4em;
  }

  .icon-box-img {
    width: 80px;
  }

  .col.home-card-col.medium-6.small-12.large-3 {
    min-width: 50%;
  }

  h2.card-custom-h2 {
    font-size: 35px;
  }

  p.lead.card-custom-text {
    font-size: 25px !important;
    font-weight: 400;
  }

  .card-custom-a {
    font-size: 25px;
  }

  .home-mid-img .img-inner {
    padding-top: 65vh;
  }

  .box-sale {
    width: 25% !important;
  }

  .box-sale p span {
    font-size: 2rem !important;
  }

  .frame {
    width: 50%;
  }

  .trans-frame {
    width: 50%;
  }

  .frame.lg-y5 {
    top: 20%;
  }

  .frame.lg-y90 {
    bottom: 18%;
  }

  .trans-frame.lg-y10 {
    top: 22%;
  }
}

@media (min-width: 2000px) and (max-width: 2999px) {
  .box-sale p span {
    font-size: 1.6rem;
  }

  .box-sale {
    width: 25%;
  }

  h2.card-custom-h2 {
    font-size: 35px;
  }

  p.lead.card-custom-text {
    font-size: 25px !important;
    font-weight: 400;
  }

  .card-custom-a {
    font-size: 25px;
  }

  h5.home-h5 {
    font-size: 2em;
  }

  h5.home-h2 {
    font-size: 3.9em;
  }

  p.home-p {
    font-size: 1.5rem;
  }

  .home-banner-title h1 {
    font-size: 2.7em;
  }

  .home-tour .icon-box .icon-box-img {
    width: 90px !important;
  }

  .home-tour h5.uppercase {
    font-size: 2em;
  }

  .home-tour p {
    font-size: 1.5em;
  }

  .comments-area {
    display: none !important;
  }

  .entry-category.is-xsmall {
    display: none !important;
  }

  .entry-divider.is-divider.small {
    display: none !important;
  }
}

@media (min-width: 3000px) {
  .header .container {
    max-width: 70%;
  }

  .stuck .header-main {
    height: 140px !important;
  }

  .header #logo {
    width: 10%;
  }

  .slider-hero .text-left {
    padding-left: 30%;
  }

  .header .nav-size-large > li > a {
    font-size: 2rem;
  }

  .header .nav > li {
    margin-right: 2rem;
  }

  .header .nav > li a,
  .header .nav > li:hover a {
    opacity: 0.9;
  }

  .header .nav > li.current-menu-item a {
    opacity: 1;
  }

  .slider-hero .banner-layers.container {
    max-width: 100%;
  }

  .slider-hero .banner .text h3 {
    font-size: 6rem;
    margin-bottom: 2rem;
  }

  .slider-hero .banner .text h1 {
    font-size: 6rem;
    margin-bottom: 3rem;
  }

  .slider-hero .text a.button {
    font-size: 2rem;
    margin-top: 2rem;
    border: 4px solid;
  }

  .list-blog .text .is-border {
    border-width: 6px !important;
  }

  .list-blog .banner h2 {
    font-size: 3.4rem;
  }

  p.lead.card-custom-text {
    font-size: 2.5rem !important;
  }

  .list-blog .banner .button {
    font-size: 3rem;
    margin-top: 0;
  }

  .list-blog .box-sale p span {
    font-size: 2.4rem !important;
  }

  .page-header-wrapper .container {
    max-width: 100%;
  }

  .page-header-wrapper .is-larger {
    font-size: 4rem;
  }

  .content-area .row.row-small {
    max-width: 60%;
  }

  .content-area .banner {
    min-height: 900px;
  }

  .ab-sec-middle.large-3 {
    max-width: 17%;
  }

  .ab-sec-info h2.thin-font {
    font-size: 6rem;
  }

  .ab-sec-title h1 {
    font-size: 6em;
  }

  .ab-title .title-wrapper {
    font-size: 4em;
  }

  .ab-sec-middle.medium-4.small-12.large-3 {
    max-width: 20%;
  }

  .ab-sec-info p.thin-font {
    font-size: 3.5rem;
  }

  .ab-slide-row.row.row-large {
    max-width: 80%;
  }

  .ab-slide-row .flickity-viewport {
    height: unset;
  }

  .flickity-viewport {
    height: 1500px;
  }

  .absolute-footer .copyright-footer {
    font-size: 3rem !important;
  }

  .absolute-footer .container {
    max-width: 100%;
  }

  .footer-widgets .row {
    max-width: 100%;
  }

  .banner-layers.container .text-box {
    font-size: 1.5rem;
  }

  .icon-box-img {
    width: 130px;
  }

  h5.uppercase {
    font-size: 3em;
  }

  .banner-4k .frame {
    width: 50%;
  }

  .banner-4k .trans-frame {
    width: 50%;
  }

  .home-banner-text {
    width: 80%;
  }

  .home-h5 {
    font-size: 50px;
  }

  .home-btn {
    font-size: 40px;
    line-height: 43px;
    height: 100px;
    font-weight: 600;
    letter-spacing: 3px;
  }

  .icon-box .icon-box-img {
    width: 20% !important;
  }

  .icon-box h5 {
    font-size: 3em;
  }

  .icon-box p {
    font-size: 3.5em;
  }

  .home-banner-title .page-header-wrapper .is-larger {
    font-size: 3rem;
  }

  .home-cus-text-top {
    top: 45%;
  }

  .home-sec-bottom .home-p-lead {
    font-size: 45px;
    line-height: 50px;
    color: #757575;
    font-weight: 400;
    letter-spacing: 0;
  }

  .home-sec-bottom .home-h3 {
    font-size: 50px;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 19px 0 23px;
  }

  .overflowbuble .img {
    width: 25%;
  }

  .comments-area {
    display: none !important;
  }

  .entry-category.is-xsmall {
    display: none !important;
  }

  .entry-divider.is-divider.small {
    display: none !important;
  }
}

.aiosrs-rating-wrap {
  display: none;
}
