a {
  color: black;
  font-weight: bold;
  background-color: red;
}

html {
  font-size: 16px;
}

body {
  font-family: Barlow-Regular;
  font-size: 14px;
}

.h1-hello {
  color: #64b2df;
}

.h1-hello-con {
  color: #95b620;
}