.backgroundgreen {
  background: $color-bggreen;
  margin-top: 3rem;
  padding: 3rem 0;
}

.absolute {
  width: 1200px;
  max-width: 1200px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);

  .price {
    del {
      font-size: 26px;
      color: $color-ff;
    }

    ins {
      color: #74fff6;
      font-size: 36px;
    }
  }
}

.cusrow {
  clear: both;
  overflow: hidden;
  width: 100%;
}

.col-4 {
  width: 33.333%;
  float: left;
  padding: 0 15px;
}

.supplier {
  font-weight: bold;
  margin-bottom: 10px;
}

.block-3 {
  img {
    width: 72px;
  }

  text-align: center;
  padding: 50px 40px;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.3;
    background-color: $block3-bgcolor-after;
    bottom: -40px;
    right: -40px;
  }

  &:before {
    content: "";
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.3;
    background-color: $block3-bgcolor-before;
    top: -40px;
    left: -40px;
  }

  &:nth-child(2) {
    &:before {
      background-color: $block3-child2-before;
      top: -40px;
      left: -40px;
    }

    &:after {
      background-color: $block3-child2-after;
      bottom: -40px;
      right: -40px;
    }
  }

  &:nth-child(3) {
    &:before {
      background-color: $block3-child3-before;
      top: -40px;
      left: -40px;
    }

    &:after {
      background-color: $block3-child3-after;
      bottom: -40px;
      right: -40px;
    }
  }

  h3 {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 19px 0 23px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: $block3-p;
    font-weight: 400;
    letter-spacing: 0;
  }
}

.block-parent {
  padding: 60px 0;
}

.application {
  padding: 60px 20px;
}

.site-branding {
  img {
    width: 154px;
  }
}