// chua tuy chinh ve font, kieu chu, kich co, size,line,color...
.bold-font {
  font-family: Barlow-Bold;
}

.semi-font {
  font-family: Semi-Bold;
}

.thin-font {
  font-family: Barlow-Regular;
}

.text-left {
  text-align: left;

}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}