.ast-footer-overlay {
  padding-top: 7em;
  padding-bottom: 0;
  background-color: unset;
}

.site-footer {
  .ast-container {
    max-width: 1240px;
  }

  .choose-me {
    color: $color-00;
    position: relative;

    &:after {
      @include choose-after-transform(-2deg);
      z-index: 0;
      left: 0rem;
      top: 0;
      width: 100%;
      position: absolute;
      content: "";
      height: 100%;
      background: $color-ff;
      box-shadow: 3px 0px 8px #00000022;
    }

    &:before {
      @include choose-before-transform(2deg);
      z-index: 0;
      left: 0rem;
      top: 0;
      width: 100%;
      position: absolute;
      content: "";
      height: 100%;
      background: transparent linear-gradient(270deg, $choose-bg-gradient1 0%, $choose-bg-gradient2 100%) 0% 0% no-repeat padding-box;
    }
  }

  @include footer-box-shadow;
  position: relative;

  .uagb-section__inner-wrap {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
  }
}

.footer-adv-overlay {
  background-color: unset;
  padding-bottom: 0;
}

.ast-small-footer-section {
  .ast-container {
    border-top: 1px solid #e5e5e5;
    padding: 15px 0;
    margin-top: 30px;
    text-align: center;
  }
}

.footer-adv {
  background-image: url("../imgs/halotour_bg_footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
}

.sigupnow {
  .ast-footer-widget-1-area {
    display: flex;
  }

  .widget_text {
    width: 14%;
  }

  .widget_custom_html {
    width: 36%;
  }

  .widget_newsletterwidgetminimal {
    width: 50%;
  }

  .widget-title {
    font: Bold 48px/50px Barlow-Bold;
    text-align: left;
    color: $color-ff;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    font-family: Semi-Bold;
    text-align: left;
  }

  .title {
    font-family: Barlow-Bold;
    font-size: 56px;
    letter-spacing: 0px;
    color: #000000e6;
    position: relative;
    text-align: left;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 83px;
      border-radius: 50px;
      height: 4px;
      background: transparent linear-gradient(270deg, $title-after-gradient1 0%, $title-after-gradient2 100%) 0% 0% no-repeat padding-box;
    }
  }

  .tnp-form {
    width: 100%;
    position: relative;
    margin-top: 36px;
  }

  .tnp-widget-minimal {
    .tnp-email {
      border: 2px solid $color-ff;
      padding: 18px 20px;
      border-radius: 50px;
      background: transparent;

      &::-webkit-input-placeholder {
        color: $color-ff;
      }

      &:-ms-input-placeholder {
        color: $color-ff;
      }

      &::placeholder {
        color: $color-ff;
      }
    }

    input.tnp-submit {
      display: inline-block;
      width: unset;
      background: $color-ff;
      box-shadow: 0px 3px 8px #00000038;
      border-radius: 50px;
      padding: 12px 20px;
      position: absolute;
      right: 8px;
      top: 8px;
      color: #168df9;
      font-family: Semi-Bold;
    }
  }

  z-index: 10;
  color: $color-ff;
}

.ast-small-footer {
  border: unset;
}

.ast-small-footer.sigupnow {
  &:after {
    @include small-footer-sigupnow-after(-2deg);
    z-index: -1;
    left: 0rem;
    top: 0;
    width: 100%;
    position: absolute;
    content: "";
    height: 114%;
    background: transparent linear-gradient(270deg, $sigupnow-after-gradient1 0%, $sigupnow-after-gradient2 100%) 0% 0% no-repeat padding-box;
  }
}

.choose-me {
  .title {
    text-align: center;
    font-family: Barlow-Bold;
    font-size: 48px;
    position: relative;
    margin-bottom: 4rem;

    &:after {
      content: "";
      position: absolute;
      background: transparent linear-gradient(270deg, $choose-title-after-gradient1 0%, $choose-title-after-gradient2 100%) 0% 0% no-repeat padding-box;
      height: 4px;
      width: 100px;
      bottom: -1rem;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  .wp-block-column {
    text-align: center;

    h2 {
      font: Bold 20px/28px Barlow-Bold;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      line-height: 25px;
    }
  }

  .alignwide {
    padding: 40px;
    width: 160px;
    height: 160px;
    background-color: #0000000d;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.downloadstore {
  img {
    width: 108px;
  }

  li {
    display: inline-block;
  }
}

.pad6030 {
  padding-top: 60px;
  padding-bottom: 10px;
}