.main-header-menu {
  >.menu-item {
    >a {
      font-size: 20px;
      color: rgba(255, 255, 255, 0.6);
      font-weight: 500;
    }

    &:hover,
    &.current-menu-item {
      a {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

#ast-fixed-header {
  .main-header-bar {
    @include main-header-bar-bg;
  }
}

.main-header-bar {
  @include main-header-bar-bg;
  @include main-header-bar-bg;
  border: unset;
}

.ast-header-break-point {
  .ast-mobile-menu-buttons-minimal.menu-toggle {
    color: $color-ff;
  }
}

.single {
  .main-header-bar {
    background: transparent;
    border: unset;
  }
}

.ast-theme-transparent-header {
  .ast-header-sticked {
    .main-header-bar {
      @include main-header-bar-bg;
    }
  }
}

.header-main-layout-1 {
  .wp-block-image {
    img {
      &:after {
        left: 0;
        top: 0;
        width: 100%;
        position: absolute;
        content: "";
        height: 100%;
        background: linear-gradient(80deg,
            $img-after-gradient1 0%,
            $img-after-gradient2 40%);
      }
    }
  }
}

.ast-fullscreen-menu-enable.ast-header-break-point {
  .main-header-bar-navigation {
    #site-navigation {
      background-color: rgba(17, 45, 45, 0.63);
    }
  }
}