.ast-right-sidebar {
  #primary {
    padding-right: 15px;
  }

  #secondary {
    padding-left: 15px;
  }

  .sidebar-main {
    @include sidebar-box-shadow;
    @include sidebar-boder;
    padding: 20px;
    border-radius: 10px;

    h3 {
      font-size: 20px;
      font-family: Semi-Bold;
      margin-bottom: 10px;
      margin-top: 20px;
      display: inline-block;
      width: 100%;
    }
  }

  .facetwp-checkbox {
    background: unset;
    padding: 0;
    background: #0000000d;
    font-size: 14px;
    padding: 5px 10px;
    color: $color-00;
    margin: 4px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    width: 46%;
    vertical-align: middle;
  }

  .facetwp-checkbox.checked {
    @include sidebar-bg-color-gradient;
    color: $color-ff;
  }

  .facetwp-counter {
    display: none;
  }

  .noUi-horizontal {
    height: 6px;

    .noUi-handle {
      border-radius: 50%;
      top: -6px;
      border: unset;
    }
  }

  .noUi-target {
    border: unset;
    background: #00000019;
  }

  .noUi-connect {
    @include sidebar-bg-color-gradient;
  }

  .facetwp-type-slider {
    .facetwp-slider-reset {
      width: 100%;
      border-radius: 30px;
      padding: 10px;
      @include sidebar-bg-color-gradient;
      margin-top: 10px;
    }
  }

  .noUi-handle.noUi-handle-lower {
    background: #53c0bb 0% 0% no-repeat padding-box;
  }

  .noUi-handle.noUi-handle-upper {
    background: #148bfb 0% 0% no-repeat padding-box;
  }

  .facetwp-facet {
    .facetwp-search-wrap {
      .facetwp-search {
        width: 100%;
        background: #0000000d;
        border-radius: 8px;
        font-size: 14px;
        padding: 10px 20px;
        font-size: 14px;
      }
    }

    margin-bottom: 0px;
  }
}

.ic-filter {
  background-image: url(../imgs/ic_filter.svg);
  height: 20px;
  width: 20px;
  margin-top: 10px;
  vertical-align: middle;
}