.searchwp-live-search-result {
  width: 100%;
  clear: both;
  margin: 10px 0px;
}
.searchwp-live-search-result .img {
  width: 30%;
  float: left;
  padding: 0 5px;
}
.searchwp-live-search-result .img img {
  height: 80px;
  object-fit: cover;
  border-radius: 4pt;
}
.searchwp-live-search-result .title {
  width: 70%;
  float: left;
  padding: 0 5px;
}
.searchwp-live-search-result .title p {
  color: #000;
  font-weight: bold;
  overflow: hidden;
  line-height: 18px;
  height: 54px;
}
.searchwp-live-search-results-showing {
  width: 278px !important;
}
.searchwp-live-search-result p {
  padding: 0;
  border: unset;
  font-size: 13px;
}
.searchwp-live-search-result a {
  white-space: unset;
}
.searchwp-live-search-result .title del {
  font-size: 13px;
}
.searchwp-live-search-result .title ins {
  font-size: 15px;
  color: #fd5669;
  font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .searchwp-live-search-results-showing {
    width: 100% !important;
    left: 0 !important;
  }
}
